.card{ 
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    width: 100%;

    height: 564px;
 }
.card:hover{
    background-color: rgba(0, 155, 221, 0.308);
}

.card:hover .card-body{
     background-color: rgba(0, 155, 221, 0.74);
}

.card:hover .txt-azul, .card:hover .txt-naranja{
    color:#fff !important;
}

 .card .card-body{
    border-radius: 30% 30% 0 0;
    background: #DCF5F9;
    max-height: 57%;
    max-width: 100%;
    padding-bottom: 5px;
 }

.card-img-top{
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    max-height: 43%;
    width: auto;
    max-width: 100%;

   
}

button{
    outline: none;
}

.circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    
}
.disable-circle{
    background-color: rgb(142, 205, 221)
}
h5{
    font-size: auto;
}
.card-title{
    
    min-height: 50px;
}
.txt-marca{
    min-height: 24px;
}
.agrupacion{
    height: 84px;
}
