<div class="container">
  <div class="row justify-content-center">

    <ng-container *ngFor="let item of items">
      <div class="col-sm-6 col-md-4 col-lg-3 mt-2">
        <div class="card m-auto">

          <img *ngIf="itemToBuy.urlImage" class="card-img-top " [src]="item.urlImage" alt="{{item.nombre}}">
          <img *ngIf="!itemToBuy.urlImage" width="130" height="230" class="card-img-top" src="assets/no_image_aviable.png"
            alt="{{item.nombre}}" />

          <div class="card-body">
            <div class="text-center ">
              <small class="text-center txt-azul txt-marca">{{item.marca}}</small>
              <small *ngIf="!item.marca" class="text-center txt-azul txt-marca">SIN ESPECIFICAR</small>
              <h6 class="card-title text-center txt-azul font-bold">
                {{nombre}}
              </h6>
            </div>
            <div class="text-center semi-body">
              <div class="agrupacion">
                  <div  *ngIf="kilogramos.length" class="row justify-content-center">
                      <div  *ngFor="let kilos of kilogramos; let i = index">
                        
                          <div class="col-2">
                            <div class="circle font-bold bg-azul text-white m-auto disable-circle" style="font-size: .6rem;padding: .2rem;" (click)="kilosSelected(i)"  [ngClass]="{'disable-circle':!(kilos==itemToBuy.kiloProdcuto)}">
                              {{kilos}} <br> kg
                            </div>
                          </div>
                        
                      </div>
                    </div>
              </div>
              
              <h5 class="text-center txt-naranja font-bold mt-2">POR: {{precio | currency: 'ARS': '$'}}</h5>
              <div class="row justify-content-center mt-2 mb-2">
                <div class="col-8 d-flex justify-content-center">
                  <button mat-icon-button (click)="incrase(item, false)">
                    <fa-icon class="txt-azul" [icon]="['fa','minus']" size="1x"></fa-icon>
                  </button>
                  <div class="circle font-bold bg-white text-black-50" style="font-size: 1.4rem;">
                    {{item.cantidad}}
                  </div>
                  <button mat-icon-button (click)="incrase(item, true)">
                    <fa-icon class="txt-azul" [icon]="['fa','plus']" size="1x"></fa-icon>
                  </button>
                </div>
              </div>
              <button mat-raised-button class="btn-block bg-naranja text-white" (click)="addItem(item)">COMPRAR</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>