.card{ 
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    width: 90%;
 }
.card:hover{
    background-color: rgba(0, 155, 221, 0.308);
}

.card:hover .card-body{
     background-color: rgba(0, 155, 221, 0.74);
}

.card:hover .txt-azul, .card:hover .txt-naranja{
    color:#fff !important;
}

 .card .card-body{
    border-radius: 30% 30% 0 0;
    background: #DCF5F9;
 }

.card-img-top{
    padding: 25px;
}

button{
    outline: none;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
}