.card{ 
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    width: 100%;

    height: 500px;
 }
.card:hover{
    background-color: rgba(0, 155, 221, 0.308);
}

.card:hover .card-body{
     background-color: rgba(0, 155, 221, 0.74);
}

.card:hover .txt-azul, .card:hover .txt-naranja{
    color:#fff !important;
}

 .card .card-body{
    border-radius: 30% 30% 0 0;
    background: #DCF5F9;
    max-height: 50%;
    max-width: 100%;
    padding-bottom: 5px;
 }

.card-img-top{
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    max-height: 50%;
    width: auto;
    max-width: 100%;

   
}

button{
    outline: none;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
}
h5{
    font-size: auto;
}
