<div class="container">
  <div class="row justify-content-center">

    <ng-container *ngFor="let item of products; let i =index">
      <div class="col-sm-6 col-md-4 col-lg-4  col-xl-3 mt-2">
        <div class="card m-auto">
          <!-- arupaciones -->
          <img *ngIf="item.urlImage" class="card-img-top " [src]="item.urlImage" alt="{{item.nombre}}">
          <img *ngIf="!item.urlImage" width="130" height="230" class="card-img-top" src="assets/no_image_aviable.png"
            alt="{{item.nombre}}" />

          <div class="card-body" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#DCF5F9' }">
            <div class="text-center ">
              <small class="text-center txt-azul txt-marca" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#009BDD' }">{{item.marca}}</small>
              <small *ngIf="!item.marca" class="text-center txt-azul txt-marca" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#009BDD' }">SIN ESPECIFICAR</small>
              <h6 *ngIf="item.Agrupacion" class="card-title text-center txt-azul font-bold">
                {{item.Agrupacion}}
              </h6>
              <h6 *ngIf="!item.Agrupacion" class="card-title text-center txt-azul font-bold">
                {{item.nombre}}
              </h6>
            </div>
           
            <div class="text-center semi-body">
      
              <div *ngIf="item.Agrupacion && item.listAgrupacion">
                <div class="agrupacion justify-content-center" *ngIf="item.listAgrupacion.length">

                  <div *ngFor="let ite of item.listAgrupacion; let j = index">



                    <div class="pr-2">
                      <div class="  rectangle font-bold bg-azul text-white m-auto" (click)="selectAgrupacion(i,j)"
                        [ngClass]="{'disable-circle':ite.codeProdSys != item.codeProdSys}">
                        {{ite.kiloProdcuto}}
                      </div>

                    </div>



                  </div>


                </div>
              </div>

              <!--  si no existe agrupacion -->
              <div *ngIf="!item.Agrupacion ">

                <div class="agrupacion justify-content-center">
                  <div class="pr-2">
                    <div class="rectangle font-bold bg-azul text-white m-auto">
                      {{item.kiloProdcuto}}
                    </div>
                  </div>
                </div>


              </div>
              <div *ngIf="item.Agrupacion && !item.listAgrupacion" class="agrupacion justify-content-center">
                <div class="pr-2  ">
                  <div  class="rectangle font-bold bg-azul text-white m-auto" >
                    {{item.kiloProdcuto}}
                  </div>
                </div>
              </div>
              <div class="row container-fluid" [ngStyle]=" colorTres ? {color: colorTres } : {color: '#E97604' }">
                <div class="col-6" [ngStyle]=" colorTres ? {color: colorTres } : {color: '#E97604' }">
                  <p  class="text-center price-text txt-naranja  mt-2 font-bold" >PRECIO MAYORISTA:</p><h5 class=" price text-center txt-naranja font-bold mt-2"> {{item.defaultPrice | currency: 'ARS': '$'}}</h5>
                </div>
                <div class="col-6" [ngStyle]=" colorTres ? {color: colorTres } : {color: '#E97604' }">
                  <p class="text-center price-text txt-naranja  mt-2 font-bold" >PRECIO DISTRIBUIDOR:</p><h5 class="price text-center txt-naranja font-bold mt-2"> {{item.defaultPrice | currency: 'ARS': '$'}}</h5>

                </div>
              </div>
              <div class="valoracion text-center">

                <fa-icon class="star" matSuffix [icon]="['fa', 'star']" [ngClass]="{'disable-star':item.Valoracion_Fabricante < 1}"></fa-icon>
                <fa-icon class="star" matSuffix [icon]="['fa', 'star']" [ngClass]="{'disable-star':item.Valoracion_Fabricante < 2}"></fa-icon>
                <fa-icon class="star" matSuffix [icon]="['fa', 'star']" [ngClass]="{'disable-star':item.Valoracion_Fabricante < 3}"></fa-icon>
                <fa-icon class="star" matSuffix [icon]="['fa', 'star']" [ngClass]="{'disable-star':item.Valoracion_Fabricante < 4}"></fa-icon>
                <fa-icon class="star" matSuffix [icon]="['fa', 'star']" [ngClass]="{'disable-star':item.Valoracion_Fabricante < 5}"></fa-icon>
  
              </div>
              
              <div class="favorito">
                <fa-icon class=" fav txt-naranja" matSuffix [icon]="['fa', 'heart']"></fa-icon>
              </div>

         


              <div class="row justify-content-center mt-2 mb-2">
                <div class="col-8 d-flex justify-content-center">
                  <button mat-icon-button (click)="incrase(item, false)">
                    <fa-icon class="txt-azul" [icon]="['fa','minus']" size="1x"></fa-icon>
                  </button>
                  <div class="circle font-bold bg-white text-black-50" style="font-size: 1.4rem;">
                    {{item.cantidad}}
                  </div>
                  <button mat-icon-button (click)="incrase(item, true)">
                    <fa-icon class="txt-azul" [icon]="['fa','plus']" size="1x"></fa-icon>
                  </button>
                </div>
              </div>
              <span style="color:green" *ngIf="item.stockActual > 0">En stock</span>
              <span style="color:red"  *ngIf="item.stockActual <= 0">Sin stock</span>
              <button *ngIf="item.stockActual <= 0" mat-raised-button style="background-color: red" class=" btn-block  text-white" >AVISARME</button>
              <button *ngIf="item.stockActual > 0" mat-raised-button class="btn-block bg-naranja text-white" (click)="addItem(item)" [ngStyle]=" colorTres ? {background: colorTres } : {background: '#E97604' }">COMPRAR</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>