
<div class="container">
  <div class="row justify-content-center">

    <ng-container *ngFor="let item of items">
      <div class="col-md-3">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" height="230" width="130" [src]="item.urlImage" alt="{{item.nombre}}">
          <img *ngIf="!item.urlImage" src="assets/no_image_aviable.png"  alt="{{item.nombre}}"/>
          <div class="card-body" style="background: #DCF5F9">
            <div class="text-center" style="color:#009BDD">{{item.marca}}</div>
            <h5 class="card-title text-center" style="font-weight: bold; color: #009BDD">
              {{item.nombre}}
            </h5>
            <div class="text-center">
              <ul class="nav justify-content-center" id="kg-id">
                <li class="nav-item">
                  <span class="badge bg-azul text-white">
                    <span class="nro">{{item.kiloProdcuto}}</span> <br>
                    <span>kg</span>
                  </span>
                </li>
              </ul>
              <p class="text-center" style="font-size: 22px; font-weight: bold; color: #E97604">POR: {{item.precioL2 | currency: 'ARS': '$'}}</p>
              <ul class="nav justify-content-center" id="count_list">
                <li class="nav-item">
                  <img src="../assets/recursos/mas.png" alt="" style="cursor: pointer;" (click)="incrase(item, true)" class="img-fluid">
                </li>
                <li class="nav-item" id="nro_count">
                  <span class="badge"> {{item.cantidad}} </span>
                </li>
                <li class="nav-item">
                  <img src="../assets/recursos/menos.png" alt="" style="cursor: pointer;" (click)="incrase(item, false)" class="img-fluid">
                </li>
              </ul>
            </div>
            <a class="btn btn-sm btn-comprar text-white" (click)="addItem(item)">COMPRAR</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
