<div class="container-fluid">
  <div class="row" style="padding-top: 3%; padding-bottom: 3%;">
    <div class="col-md-3 four-img" id="perdidos" style="background-image: url('../assets/4-img/perdidos_encontrados.jpg');">
      <h3 class="text-center">PERDIDOS <br> ENCONTRADOS</h3>
    </div>
    <div class="col-md-3 four-img"  id="parejas" style="background-image: url('../assets/4-img/parejas.jpg');">
      <h3 class="text-center">PAREJAS <br> TINDER PET </h3>
    </div>
    <div class="col-md-3 four-img" id="adopcion" style="background-image: url('../assets/4-img/adopcion.jpg');">
      <h3 class="text-center">ADOPCIÓN <br> RESPONSABLE</h3>
    </div>
    <div class="col-md-3 four-img" id="blog" style="background-image: url('../assets/4-img/conoce_nuestro_blog.jpg');"><h3 class="text-center">CONOCE NUESTRO  <br> BLOG</h3></div>
  </div>
</div>