<div [ngStyle]=" colorUno ? {background: colorUno } : {background: '#009BDD' }">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="background-color: white; padding:2px; margin-top: 1%; margin-bottom: 2%;">
        
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <img src="../../assets/logo-white.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-6 text-right">
    <ul class="nav justify-content-end">

        <li class="nav-item txt-blanco" style="margin-left:-3%">
            <a [href]="linksR.facebook" target="_blank" class="nav-link">
              <img src="../assets/social/facebook.png" alt="">
            </a>
          </li>
          <li class="nav-item txt-blanco" style="margin-left:-3%">
            <a [href]="linksR.twitter" target="_blank" class="nav-link">
              <img src="../assets/social/twitter.png" alt="">
            </a>
          </li>
          <li class="nav-item txt-blanco" style="margin-left:-3%">
            <a [href]="linksR.instagram" target="_blank" class="nav-link">
              <img src="../assets/social/instagram.png" alt="">
            </a>
          </li>
          <li class="nav-item txt-blanco" style="margin-left:-3%">
            <a [href]="linksR.whatsapp" target="_blank" class="nav-link">
              <img src="../assets/social/wp.png" alt="">
            </a>
          </li>  
        </ul>
      </div>
    </div>
    <hr style="background-color: white; padding:1px;">
    <div class="row">
      <div class="col-md-4">
        <h4 class="font-bold txt-blanco">NOSOTROS </h4>
        <p class="txt-blanco font-light" *ngIf="footer_data">
            {{footer_data.nroContacto}} <br>
            {{footer_data.direccion}} <br>   
            {{footer_data.mail1}} / {{footer_data.mail2}} <br>
            Sobre Deposito Central <br>
            Trabaja con Nosotros
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="font-bold txt-blanco">SERVICIOS</h4>
        
        <div *ngFor="let lista_clasificado of lista_clasificados" class="txt-blanco font-light">
          {{lista_clasificado.titulo}}
        </div>
          
      </div>
      <div class="col-md-4">
        <h4 class="font-bold txt-blanco">LOCALES ADHERIDOS</h4>
        <div *ngFor="let l_l of lista_locales" class="txt-blanco font-light">
            {{l_l.nombre}}
          </div>                  
        </div>
    </div>
  </div>
</div>