<app-register></app-register>

<!-- Primer Nav -->
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <p class="p-2">EL MEJOR PRECIO AL ALCANCE DE  <b>TU MASCOTA</b></p>
    </div>
    <div class="col-md-5">
      <ul class="nav">
        <li class="nav-item">
          <a href="#" class="nav-link">INGRESA</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">AYUDA</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#registraseModal">REGISTRATE</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--Segundo Nav-->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- Logo -->
    </div>
    <div class="col-md-6">
      <ul class="nav">
        <li class="nav-item">
          <a href="#" class="nav-link active">OFERTAS</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">MASCOTAS</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">MARCAS</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>
        <b>Dirección:</b> {{footer_data.direccion}} <br>   
        <b>Telefono: </b> {{footer_data.nro_contacto}} <br>
        <b>Email: </b> {{footer_data.email}}
      </p>
    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4"></div>
  </div>
</div>