<!-- MODAL -->
<app-register></app-register>
<app-login></app-login>
<app-carrito></app-carrito>
<app-marca></app-marca>
<app-ayuda></app-ayuda>
<app-mascotas></app-mascotas>

<!-- Estructura -->

<app-slide-home></app-slide-home>
<app-productos-inicio></app-productos-inicio>
<app-destacado-inicio></app-destacado-inicio> 
<app-novedades-inicio></app-novedades-inicio> 
<app-mas-vendido-inicio></app-mas-vendido-inicio> 
<app-locales-adheride-inicio></app-locales-adheride-inicio>
<app-envios-inicio></app-envios-inicio> 
<app-img-inicio></app-img-inicio> 
<app-entrega></app-entrega>
<app-reclamos-inicio></app-reclamos-inicio>
<app-baja-app-inicio></app-baja-app-inicio>


