<!-- MODAL -->
<app-register></app-register>
<app-login></app-login>
<app-marca></app-marca>
<app-mascotas></app-mascotas>

<!-- Estructura -->
<app-nav-uno></app-nav-uno>
<app-nav-dos></app-nav-dos>
<app-slide-home></app-slide-home>
<app-productos-inicio></app-productos-inicio>
<app-destacado-inicio></app-destacado-inicio> <!-- falta detacados -->
<app-novedades-inicio></app-novedades-inicio> <!-- recibe nuestras novedades-->
<app-mas-vendido-inicio></app-mas-vendido-inicio> <!-- lo mas vendido -->
<app-locales-adheride-inicio></app-locales-adheride-inicio> <!-- locales adheride-->
<app-envios-inicio></app-envios-inicio> <!-- envios -->
<app-img-inicio></app-img-inicio> <!-- 4 iimagen // hasta aqui falta-->
<app-entrega></app-entrega>
<app-reclamos-inicio></app-reclamos-inicio>
<app-baja-app-inicio></app-baja-app-inicio> <!-- bajate nuestra app / falta-->

<app-footer></app-footer>