<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="margin-top:50%;">
        <div class="modal-header bg-azul">
          <h5 class="modal-title txt-blanco " id="loginModalLabel">INICIAR</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="txt-blanco">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="email">Dirección Email</label>
            <input type="email" placeholder="Ingrese mail" id="email" class="form-control" [(ngModel)]="email">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" placeholder="Ingrese Contraseña" id="password" class="form-control" [(ngModel)]="password">
          </div>
          <div class="form-group text-right">
            <p class="font-bold" style="color:#20883a;" (click)="ingresarLogin()">Ingresar</p>
          </div>
      
          <!-- 
            <p><a routerLink="forget" data-dismiss="modal" aria-label="Close">Olvide mi contraseña</a></p>
          -->          
          
      </div>
    </div>
  </div>
