<!-- MODAL -->
<app-register></app-register>
<app-login></app-login>
<app-carrito></app-carrito>
<app-marca></app-marca>
<app-mascotas></app-mascotas>
<app-ayuda></app-ayuda>
<app-contactanos-inicio></app-contactanos-inicio>
<app-turnos-list></app-turnos-list>

<!-- Estructura -->
<app-nav-uno></app-nav-uno>

<app-nav-dos></app-nav-dos>
<router-outlet *ngIf="!showLateralCar"></router-outlet>
<!-- Para mostrar el carrito de compras lateral solo si tiene items-->
<div *ngIf="showLateralCar" class="row">
    <div class="col">
        <router-outlet></router-outlet>
    </div>
    <div class="col-2">
        <app-carrito-lateral></app-carrito-lateral>
    </div>
</div>



<!-- <app-carrito-lateral></app-carrito-lateral> -->




<app-footer></app-footer>