backend/.env
vendor
backend/vendor
backend/vendor/composer/autoload_static.php
backend/vendor/composer/autoload_real.php
backend/vendor/composer/autoload_classmap.php
backend/vendor/**
.idea/workspace.xml
admin/package-lock.json
