backend/.env
vendor
backend/vendor
backend/vendor/composer/autoload_static.php
backend/vendor/composer/autoload_real.php
backend/vendor/composer/autoload_classmap.php
backend/vendor/**
.idea/workspace.xml
admin/package-lock.json
admin/package-lock.json
admin/package.json
backend/composer.lock
backend/vendor/autoload.php
backend/vendor/composer/autoload_real.php
backend/vendor/composer/autoload_static.php
admin/package-lock.json
admin/package.json
backend/composer.lock
backend/vendor/autoload.php
backend/vendor/composer/autoload_real.php
backend/vendor/composer/autoload_static.php
frontend/package-lock.json
frontend/package.json
.idea/webdcentral.iml
.idea/workspace.xml
backend/vendor/autoload.php
backend/vendor/composer/autoload_real.php
backend/vendor/composer/autoload_static.php
backend/public/storage/comprobanteDepositoTransferencia/144-805x452jpg-1546543505-246.png
