<div *ngIf="isLoged">
  <app-header></app-header>
  <app-menu></app-menu>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
            <!-- Main content -->
          <section class="content">
              <router-outlet></router-outlet>
          </section>
      </div>
  <app-footer></app-footer>
  <app-seting></app-seting>
</div>
<div *ngIf="!isLoged">
  
  <div *ngIf="url == '/'">
    <app-authbackend></app-authbackend>
  </div>

  <div *ngIf="url == '/forget'">
    <app-forget></app-forget>
  </div>

</div>