<div *ngIf="isLoged">
  <app-header></app-header>
  <app-menu></app-menu>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
            <!-- Main content -->
          <section class="content">
              <!-- <mat-spinner diameter="30" style="margin: 0 auto"></mat-spinner> -->
            <router-outlet></router-outlet>
          </section>
      </div>
  <app-footer></app-footer>
  <app-seting></app-seting>
</div>
<div *ngIf="!isLoged">  
  <app-forget></app-forget>
  <app-authbackend></app-authbackend>

</div>