.banner-principal{
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 660px;
}

.banner-secundario{
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 450px;
}

hr{
  background: #009BDD;
  width: 96%;
  margin: auto;
}
h2{
  font-weight: bold;
}

.cont{
  margin-bottom: 2%;
}
.titulo{
  font-style: italic;
  font-size: 15px;
  padding-top: 10%;
}
.titulo-precio{
  font-weight: bold;
  font-size: 3em;
}