<div class="banner-principal" style="background-image: url('../../assets/banner_principal_delivery.png');">
  <!-- Aqui esta todo el banner -->
</div>
<div style="background:#f2f2f2">

<div class="banner-secundario" style="background-image: url('../../assets/banner_principal_delivery-secundario.jpg'); margin-top: 2%">
  <!-- Aqui esta todo el banner -->
</div>


<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center txt-azul font-bold p-5">COSTO Y ZONA DE ENTREGA</h2>
    </div>
  </div>

  <div class="p-5">
      <mat-spinner *ngIf="inPromise" diameter="30" style="margin: 0 auto"></mat-spinner>
  </div>
  
  <!--  Lista A -->
  <div class="row txt-azul font-bold">    
    <div class="col-md-5">
      <div class="cont" *ngFor="let l_a of lista_a">				
          <div class="row" >
            <div class="col-md-6 titulo">
             <i>{{l_a.localidad}}</i>
            </div>
            <div class="col-md-6 titulo-precio text-right">
              {{l_a.precio}}
            </div>
            <hr>            
          </div>				
          <p class="text-justify" style="color:#777575; font-size: 14px; font-weight: lighter; padding-top: 2%;">
            {{l_a.zona}}            
          </p>
        </div>
    </div>
    <!-- lista b -->
    <div class="col-md-5 offset-md-2">
      <div class="cont" *ngFor="let l_b of lista_b">				
          <div class="row" >
            <div class="col-md-6 titulo">
             <i>{{l_b.localidad}}</i>
            </div>
            <div class="col-md-6 titulo-precio text-right">
              {{l_b.precio}}
            </div>
            <hr>            
          </div>				
          <p class="text-justify" style="color:#777575; font-size: 14px; font-weight: lighter; padding-top: 2%;">
            {{l_b.zona}}            
          </p>
        </div>
    </div>
  </div>
  
</div>
</div>


