<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>
          Galeria Home -  
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevaGaleriaModal">
            Nuevo
          </button>
        </h3>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Producto</th>
                <th scope="col">Imagen</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l_g of list_galeria">
                <th scope="row">{{l_g.titulo}}</th>
                <td>Mark</td>
                <td>
                  <img src="{{l_g.set_imagen}}" class="img-fluid" alt="" width="100px"> 
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>  
      </div>  
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="nuevaGaleriaModal" tabindex="-1" role="dialog" aria-labelledby="nuevaGaleriaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nuevaGaleriaModalLabel">Agregar Galeria Slide</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Titulo" [(ngModel)]="new_galeria.titulo">
        </div>
        <div class="form-group">
          <label for="">Lista de Productos</label>
          <select [(ngModel)]="new_galeria.fk_idProducto" class="form-control" >
            <option *ngFor="let l_p of list_productos" value="{{ l_p.idProducto  }}">{{ l_p.nombre }} - {{ l_p.titulo }}</option>
          </select>
        </div>
        <div class="form-group">
          <input #image type="file" (change)="upImg($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="addSlideHome()">Guardar</button>
      </div>
    </div>
  </div>
</div>