<!-- Modal Formulario -->
<div class="modal fade" id="reclamoModel" tabindex="-1" role="dialog" aria-labelledby="reclamoModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reclamoModelLabel">Reclamos y Sugerencias</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="myForm">
            <div class="form-group">
              <label for="">Titulo</label>
              <input type="text" formControlName='titulo' class="form-control" placeholder="Titulo del reclarmo o sugerencia">
            </div>
            <div class="form-group">
              <label for="">Descripción</label>
              <textarea formControlName='descripcion' class="form-control" placeholder="descripcion"></textarea>
            </div> 
          </form>     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <mat-spinner *ngIf="inPromise" diameter="30" style="margin: 0 auto"></mat-spinner>
          <button type="button" class="btn btn-primary" (click)="addReclamos()" [disabled]='!myForm.valid || inPromise'>Enviar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal no registrado -->
<div class="modal fade" id="reclamoMSJModel" tabindex="-1" role="dialog" aria-labelledby="reclamoMSJModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reclamoMSJModelLabel">Reclamos y Sugerencias</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="text-center">DISCULPE TIENE QUE ESTAR REGISTRADO PARA ENVIAR SU RECLAMO O SUGENRENCIA</h5>
          <div class="text-center">
              <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Iniciar Sesion</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#registraseModal">Registrarme</a>
          </div>         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>          
        </div>
      </div>
    </div>
  </div>

<div style="padding-top:4%; padding-bottom:4%; background-color: #90bb1e">
  <div class="container">
      <div class="row">
        <div class="col-md-8 text-center">          
          <span class="btn btn-r txt-blanco" style="background-color: #E97604;" (click)="clickModal()"><b>SUGERENCIAS</b></span>
          <span class="btn btn-r txt-blanco" style="background-color: #E97604; margin-left:5%" (click)="clickModal()"><b>RECLAMOS</b> </span>          
        </div>
        <div class="col-md-4">
          <p class="text-justify txt-blanco font-light">
            <i style="font-size:21px;">
              En Deposito Central nos importa tu experiencia. 
              Si tienes algun Reclamo o Sugerencia por favor has 
              click en el Botón que corresponda.
            </i>
          </p>
        </div>
      </div>
    </div>
</div>
