 <form [formGroup]="domicilioForm">
  <div class="card mb-1">
    <div class="card-header">
      <span class="font-bold m-0 text-uppercase">Agregar domicilio de entrega</span>
      <button aria-label="Cerrar" class="close" type="button" (click)="onSaveEmmitEvent()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="card-body">
      <ng-container *ngIf="!inPromise">
        <div class="input-group mb-3">
          <input type="text" class="form-control" formControlName="domicilio" (keydown.enter)="save()" placeholder="Ingrese domicilio de entrega" aria-label="Ingrese domicilio de entrega" aria-describedby="nuevo-domicilio-btn">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button"  (click)="save()" [disabled]="domicilioForm.invalid" id="nuevo-domicilio-btn">GUARDAR</button>
          </div>
        </div>
      </ng-container>
      <mat-spinner diameter="30" class="m-auto" *ngIf="inPromise"></mat-spinner>
    </div>
  </div>
 </form>
  