<!-- Modal Nuevo -->
<div class="modal fade" id="nuevo" tabindex="-1" role="dialog" aria-labelledby="nuevoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-white" id="nuevoModal">Agregar Clasificados Reclamos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrege el nombre">
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <mat-spinner *ngIf='inPromise'  diameter="30" style="margin: 0 auto"></mat-spinner>
        <div *ngIf='!inPromise'>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button class="btn btn-success" data-dismiss="modal" (click)="addClasificadoReclamo()" [disabled]="!myForm.invalid">
            Guardar          
          </button>
        </div>  
      </div>
    </div>
  </div>
</div>



<!-- cabecera -->
<div class="row">
  <div class="col-md-12">
    <h3 class="p-5 text-center">Clasificados de Reclamos</h3>
    <hr>
  </div>
</div>

<div class="row" style="margin-bottom:2%">
  <div class="col-md-2">
      <select class="form-control" [(ngModel)]="limit">
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option >Todos </option>
      </select>
  </div>
  <div class="col-md-7">
      <input class="form-control" type="text" placeholder="Buscar" (keyup)='updateFilter($event)'>
  </div>
  <div class="col-md-3">
      <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#nuevo" (click)="click()">Nuevo</button>
  </div>
</div>

  <!-- Modal Eliminar -->
  <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="modal-title text-white" id="eliminarModal">Eliminar <span class="text-capitalize" *ngIf="questionToUpdate">'{{questionToUpdate.pregunta}}'</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-muted">¿Desea elíminar el registro?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger" [disabled]="inPromise" (click)="deleteClasificadoReclamo()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  
<!-- Tabla -->
<ngx-datatable
  #table
  class="bootstrap"
  [rows]="rows"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="limit"
  style="background:white">
  <ngx-datatable-column name="ID" prop="idClasificadoReclamo"></ngx-datatable-column>
  <ngx-datatable-column name="Nombre" prop="nombre"></ngx-datatable-column>
  <ngx-datatable-column name="Estado" prop="fk_idStatusReclamo"></ngx-datatable-column>
  <ngx-datatable-column name="" prop="opts" [width]="100">
    <ng-template ngx-datatable-cell-template let-row="row">
      <a class="btn btn-default" (click)="set(row)" data-toggle="modal" data-target="#modificar"><i class="fa fa-edit"></i></a>
      <a class="btn btn-default" (click)="set(row)" data-toggle="modal" data-target="#eliminar"><i class="fa fa-trash-o"></i></a>
    </ng-template>                    
  </ngx-datatable-column>


</ngx-datatable>
<div class="spinner-cont">
  <mat-spinner *ngIf='inPromise2'  diameter="50" style="margin: 0 auto;"></mat-spinner>
</div>
