<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarOfertaModal">
            Agregar Oferta
          </button>
          
          <!-- Modal new -->
          <div class="modal fade" id="agregarOfertaModal" tabindex="-1" role="dialog" aria-labelledby="agregarOfertaModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="agregarOfertaModalLabel">Agregar Oferta</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <input type="text" [(ngModel)]="form_ofertas.titulo" class="form-control" placeholder="titulo">
                  </div>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="form_ofertas.tiempoExpi" class="form-control" placeholder="Tiempre de expiracion">
                  </div>
                  <div class="form-group">
                    <label for="">Imagen</label>
                    <input type="file" (change)="upImagen($event)">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary" (click)="add_updateOferta('add')">Guardar Cambios</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="editarOfertaModal" tabindex="-1" role="dialog" aria-labelledby="editarOfertaModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editarOfertaModalLabel">Editar Oferta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <input type="text" [(ngModel)]="form_ofertas.titulo" class="form-control" placeholder="titulo">
                    </div>
                    <div class="form-group">
                      <input type="text" [(ngModel)]="form_ofertas.tiempoExpi" class="form-control" placeholder="Tiempre de expiracion">
                    </div>
                    <div class="form-group">
                      <label for="">Imagen</label>
                      <input type="file" (change)="upImagen($event)">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="add_updateOferta('upgrade')">Guardar Cambios</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>
            Titulo
          </th>
          <th>
            Tiempo de Expiración
          </th>
          <th>
              imagen
          </th>
          <th></th>
        </tr>

        <tr *ngFor="let o of listOfertas">
            <td>{{o.titulo}}</td>
            <td>{{o.tiempoExpi}}</td>
            <td><img class="card-img-top"  src="{{o.set_imagen}}" width="100px"></td>
            <td>
              <div href="#" class="btn btn-primary btn-sm" (click)="editOferta(o)"> Editar</div>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>