.menu-icon li{ display: inline-block; margin-left: -2%;}

.barra{
    font-size: 24px;
    margin-top: -53%;
}
.barra:hover{
    color:white;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: 0px;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: 0px;
}