<!-- Nodal de Salir -->
<div class="modal fade" id="salirModal" tabindex="-1" role="dialog" aria-labelledby="salirModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-naranja">
        <h5 class="modal-title txt-blanco" id="salirModalTitle">SALIR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="txt-blanco">&times;</span>
        </button>
      </div>
      <div class="modal-body">  
        <h4 class="text-center">¿Estas seguro que quieres salir?</h4>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="!inPromise">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="salirLogin()">Sí</button>      
        </ng-container>
        <mat-spinner *ngIf="inPromise" diameter="30" style="margin: 0 auto"></mat-spinner>        
      </div>
    </div>
  </div>
</div>

<app-perfil-cliente></app-perfil-cliente>

<!-- Primer Nav -->
<div>
  <div class="container-fluid" [ngStyle]=" colorUno ? {background: colorUno } : {background: '#009BDD' }">
    <div class="row">
      <div class="col-md-5">
        <p class="font-light txt-blanco" style="margin-left:8%; font-size:15px; margin-top: 10px;">EL MEJOR PRECIO AL ALCANCE DE  <b class="font-bold">TU MASCOTA</b></p>
      </div>
      <div class="col-md-7">
        <ul class="nav justify-content-end" style="margin-top:2px; font-size: 15px; margin-right: 8%; position: absolute; right: 5%;">
          <ng-container *ngIf="!token">
            <li class="nav-item txt-blanco">
              <a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">INGRESA</a>
            </li>

            <li class="nav-item txt-blanco" style="margin-left: -2%;"> 
              <a href="#" class="nav-link" data-toggle="modal" data-target="#ayudaModal">AYUDA</a>
            </li>
            
            <li class="nav-item txt-blanco" style="margin-left: -2%;">
              <a href="#" class="nav-link" data-toggle="modal" data-target="#registraseModal">REGISTRATE</a>
            </li>

          </ng-container>
          <ng-container *ngIf="token">

            <li class="nav-item txt-blanco">
              <a href="#" class="nav-link" [ngStyle]=" colorDos ? {color: colorDos } : {color: '#FFFFFF' }" data-toggle="modal" data-target="#perfilClienteModal">{{ userName }}</a>
            </li>

            <li class="nav-item txt-blanco" style="margin-left: -2%;"> 
              <a href="#" class="nav-link" data-toggle="modal" data-target="#ayudaModal">AYUDA</a>
            </li>

            <li class="nav-item txt-blanco">
              <a href="#" class="nav-link" data-toggle="modal" data-target="#salirModal">SALIR</a>
            </li>
          </ng-container>
        
  
          <li class="nav-item txt-blanco" style="margin-left:-3%;">
            <div class="barra">|</div>
          </li>
          <li class="nav-item txt-blanco" style="margin-left:-3%">
            <a style="cursor: pointer" class="nav-link" [matBadge]="badgeContent" [matBadgeHidden]="badgeContent === 0" matBadgePosition="above after" matBadgeColor="warn" data-toggle="modal" data-target="#carrito">
              <img src="../assets/social/carrito.png" width="20px">
            </a>
          </li>
          <li class="nav-item txt-blanco" style="margin-left:-1%;">
            <div class="barra">|</div>
          </li>
          <li class="nav-item txt-blanco" style="margin-left:-3%;">
              <a href="linksR.facebook" target="_blank" class="nav-link">
                <img src="../assets/social/facebook.png" width="10px">
              </a>
            </li>
            <li class="nav-item txt-blanco" style="margin-left:-3%;">
              <a href="linksR.twitter" class="nav-link">
                <img src="../assets/social/twitter.png" width="20px">
              </a>
            </li>
            <li class="nav-item txt-blanco" style="margin-left:-3%;">
              <a href="linksR.instagram" class="nav-link">
                <img src="../assets/social/instagram.png" width="20px">
              </a>
            </li>
            <li class="nav-item txt-blanco" style="margin-left:-3%;">
              <a href="linksR.whatsapp" class="nav-link">
                <img src="../assets/social/wp.png" width="20px">
              </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
