<!-- Nodal de Salir -->
<div class="modal fade" id="salirModal" tabindex="-1" role="dialog" aria-labelledby="salirModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-naranja">
        <h5 class="modal-title txt-blanco" id="salirModalTitle">SALIR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="txt-blanco">&times;</span>
        </button>
      </div>
      <div class="modal-body">  
        <h2>¿Estas seguro que quieres salir?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="salirLogin()">Si, salir</button>          
      </div>
    </div>
  </div>
</div>

<!-- Primer Nav -->
<div class="container-fluid" [ngStyle]=" colorUno ? {background: colorUno } : {background: '#009BDD' }">
  <div class="row">
    <div class="col-md-5">
      <p class="font-light txt-blanco" style="font-size:15px; margin-top: 10px;">EL MEJOR PRECIO AL ALCANCE DE  <b class="font-bold">TU MASCOTA</b></p>
    </div>
    <div class="col-md-7">
      <ul class="nav justify-content-end" style="margin-top:2px; font-size: 15px;">
        <li class="nav-item txt-blanco" *ngIf="!isSession">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">INGRESA</a>
        </li>
        <li class="nav-item txt-blanco" style="margin-left: -2%;"> 
          <a href="#" class="nav-link" data-toggle="modal" data-target="#ayudaModal">AYUDA</a>
        </li>
        <li class="nav-item txt-blanco" *ngIf="!isSession" style="margin-left: -2%;">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#registraseModal">REGISTRATE</a>
        </li>
        <li class="nav-item txt-blanco" *ngIf="isSession">
          <a class="nav-link"  [ngStyle]=" colorDos ? {color: colorDos } : {color: '#FFFFFF' }" >{{ userName }}</a>
        </li>

        <li class="nav-item txt-blanco" style="margin-left:-3%;">
          <a href="#" class="nav-link">
            <div class="barra">|</div>
          </a>
        </li>
        <li class="nav-item txt-blanco" style="margin-left:-3%">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#carrito">
            <img src="../assets/social/carrito.png" width="20px">
          </a>
        </li>
        <li class="nav-item txt-blanco" *ngIf="isSession">
          <a class="nav-link" data-toggle="modal" data-target="#salirModal">Salir</a>
        </li>
        <li class="nav-item txt-blanco" style="margin-left:-1%;">
          <a href="#" class="nav-link">
            <div class="barra">|</div>
          </a>
        </li>
        <li class="nav-item txt-blanco" style="margin-left:-3%;">
            <a href="#" class="nav-link">
              <img src="../assets/social/facebook.png" width="10px">
            </a>
          </li>
          <li class="nav-item txt-blanco" style="margin-left:-3%;">
            <a href="#" class="nav-link">
              <img src="../assets/social/twitter.png" width="20px">
            </a>
          </li>
          <li class="nav-item txt-blanco" style="margin-left:-3%;">
            <a href="#" class="nav-link">
              <img src="../assets/social/instagram.png" width="20px">
            </a>
          </li>
          <li class="nav-item txt-blanco" style="margin-left:-3%;">
            <a href="#" class="nav-link">
              <img src="../assets/social/wp.png" width="20px">
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>
