<!-- Primer Nav -->
<div class="container-fluid" [ngStyle]="{background: colorUno }">
  <div class="row">
    <div class="col-md-5">
      <p class="font-light txt-blanco" style="font-size:15px; margin-top: 10px;">EL MEJOR PRECIO AL ALCANCE DE  <b class="font-bold">TU MASCOTA</b></p>
    </div>
    <div class="col-md-7">
      <ul class="nav justify-content-end" style="margin-top:2px; font-size: 15px;">
        <li class="nav-item txt-blanco">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">INGRESA</a>
        </li>
        <li class="nav-item txt-blanco">
          <a href="#" class="nav-link">AYUDA</a>
        </li>
        <li class="nav-item txt-blanco">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#registraseModal">REGISTRATE</a>
        </li>
        <li class="nav-item txt-blanco" >
          <a href="#" class="nav-link">
            <img src="../assets/social/carrito.png" width="20px">
          </a>
        </li>
        <li class="nav-item txt-blanco" style="margin-left:-2%;">
            <a href="#" class="nav-link">
              <img src="../assets/social/facebook.png" width="10px">
            </a>
          </li>
          <li class="nav-item txt-blanco" style="margin-left:-2%;">
            <a href="#" class="nav-link">
              <img src="../assets/social/twitter.png" width="20px">
            </a>
          </li>
          <li class="nav-item txt-blanco" style="margin-left:-2%;">
            <a href="#" class="nav-link">
              <img src="../assets/social/instagram.png" width="20px">
            </a>
          </li>
          <li class="nav-item txt-blanco" style="margin-left:-2%;">
            <a href="#" class="nav-link">
              <img src="../assets/social/wp.png" width="20px">
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>
