 <section class="mt-2 mb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center p-3 txt-naranja font-bold"><b>RUBROS</b></h2>
 <!--          <p>{{galeryList.length}}</p> -->
          <mat-spinner *ngIf="!galeryList" [diameter]="100" style="margin: 0 auto;"></mat-spinner>
          <ng-container *ngIf="galeryList" [ngSwitch]="galeryList.length">
            <ng-container *ngSwitchCase=0>
              <div class="container">
                <div class="row m-3">
                  <div class="col">
                    <div class="card">
                      <p class="card-body font-italic text-center text-muted">No existen slides para mostrar...</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <ngb-carousel #carousel="ngbCarousel" [showNavigationArrows]="false" [showNavigationIndicators]="false">
                <ng-container *ngFor="let item of carouselItems">
                  <ng-template ngbSlide [id]="item.id">
                    <div class="container-fluid">
                      <div class="row justify-content-center">
                        <div class="col-3 text-center" *ngFor="let _ of item.items">
                         <img *ngIf="!_.WebLink_Rubro"
                           src="assets/no_image_aviable.png" alt="nombre"
                           matTooltip="{{_.rubro}}"
                           matTooltipPosition="above"
                           (click)="filterProducts(_.rubro)" 
                           height="200"
                           width="200"
                           /> 

                          <img *ngIf="_.WebLink_Rubro"
                           matTooltip="{{_.rubro}}"
                           matTooltipPosition="above"
                           (click)="filterProducts(_.rubro)"
                            [src]="_.WebLink_Rubro" alt="_.rubro" 
                            height="200"
                             width="200"
                             />
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </ngb-carousel>
              <ng-container *ngIf="carouselItems.length > 1">
                <a class="carousel-control-prev" (click)="carousel.prev()" role="button">
                  <fa-icon class="txt-azul" [icon]="['fas','chevron-left']" size="4x" ></fa-icon>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" (click)="carousel.next()" role="button">
                  <fa-icon class="txt-azul" [icon]="['fas','chevron-right']" size="4x" ></fa-icon>
                  <span class="sr-only">Next</span>
                </a>
              </ng-container>
              <div *ngIf="aTimeOutFix" class="d-flex justify-content-center paginator-bubbles mt-2" >
                <button mat-icon-button *ngFor="let item of carouselItems" [id]="item.id" (click)="carousel.select(item.id)">
                  <ng-container [ngSwitch]="carousel.activeId">
                    <fa-icon *ngSwitchCase="item.id.toString()" class="txt-naranja" [icon]="['fas','circle']" size="1x"></fa-icon>
                    <fa-icon *ngSwitchDefault class="txt-naranja" [icon]="['far','circle']" size="1x"></fa-icon>
                  </ng-container>
                </button>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </section> 
