<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center txt-azul" style="padding-top: 2%; padding-bottom: 2%;">LOCALES ADHERIDOS</h2>
      </div>
    </div>
		<div class="row">
			<div class="col-md-4" id="veterinario">
				<h2 class="text-center" style="
					position: absolute;
					margin-left: 25%;
					margin-top: 60%;
					display: none;
				">VETERINARIAS</h2>
				<img src="../assets/locales-adheridos/clasificados_1.png" class="img-fluid d-block mx-auto" alt="">
			</div>
			<div class="col-md-4">
				<div class="row" id="bano_p">
					<div class="col-md-12">
						<h2 style="
							position: absolute;
							margin-top: 25%;
							margin-left: 8%;
							display: none;
						">BAÑO Y PELUQUERÍA</h2>
						<img src="../assets/locales-adheridos/clasificados_2.png" class="img-fluid d-block mx-auto" alt="">						
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" id="paseadores">
						<h2 style="
							position: absolute;
							margin-top: 40%;
							margin-left: 22%;
							display: none;
						">PASEADORES</h2>
						<img src="../assets/locales-adheridos/clasificados_3.png" class="img-fluid d-block mx-auto" alt="" style="margin-top: 10%;">						
					</div>
				</div>
			</div>
			<div class="col-md-4" id="criaderos">
				<h2 style="
					position: absolute;
					margin-left: 30%;
					margin-top: 60%;
					display: none;
				">CRIADEROS</h2>
				<img src="../assets/locales-adheridos/clasificados_4.png" class="img-fluid d-block mx-auto" alt="">
			</div>
		</div>
  </div>