<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center txt-azul" style="padding-top: 2%; padding-bottom: 2%;">LOCALES ADHERIDOS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <h3 style="
            position: absolute;
            margin-top: 70%;
            margin-left: 25%;
            " class="txt-blanco">VETERINARIAS</h3>
        <img src="../assets/locales-adheridos/clasificados_1.png" class="img-fluid mx-auto d-block">
      </div>
      <div class="col-md-4">
        <div class="row"> 
          <div class="col-md-12">
              <h3 class="txt-blanco" style="
                position: absolute;
                margin-top: 30%;
                margin-left: 20%;
                ">BAÑO Y PELUQUERÍA</h3>
            <img src="../assets/locales-adheridos/clasificados_2.png" class="img-fluid mx-auto d-block">
        </div>
        </div>
        <div class="row" style="margin-top:9%">
            <div class="col-md-12">
              <h3 class="txt-blanco" style="
              position: absolute;
              margin-top: 30%;
              margin-left: 32%;
              ">PASEADORES</h3>
              <img src="../assets/locales-adheridos/clasificados_3.png" class="img-fluid mx-auto d-block">
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="txt-blanco" style="
          position: absolute;
          margin-top: 70%;
          margin-left: 32%;
          ">CRIADEROS</h3>
        <img src="../assets/locales-adheridos/clasificados_4.png" class="img-fluid mx-auto d-block">
      </div>
    </div>
  </div>