<div class="container">
  <div class="row" style="padding-top: 8%; padding-bottom: 8%;">
    <div class="col-md-3">
      <img src="../assets/envios-inicio/como_comprar_2.png" width="200px" class="img-fluid mx-auto d-block">
      <h4 class="text-center">
        COMO <br>
        <b> COMPRAR </b>
      </h4>
    </div>
    <div class="col-md-3">
      <img src="../assets/envios-inicio/enviar_2.png" width="230px" class="img-fluid mx-auto d-block">
        <h4 class="text-center">
          <b> ENVIOS </b>
      </h4>
    </div>
    <div class="col-md-3">
      <img src="../assets/envios-inicio/formas_de_pago_2.png" width="210px" class="img-fluid mx-auto d-block">
        <h4 class="text-center">
          FORMAS DE <br>
          <b> PAGO </b>
      </h4>
    </div>
    <div class="col-md-3">
      <img src="../assets/envios-inicio/retirar_en_tienda_2.png" width="200" class="img-fluid mx-auto d-block">
        <h4 class="text-center">
          RETIRAR EN <br>
          <b> LA TIENDA </b>
      </h4>
    </div>
  </div>
</div>