<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <ng-container *ngIf="inPromise">
              <mat-spinner mode="indeterminate" [diameter]="50" style="margin: 0 auto;"></mat-spinner>
          </ng-container>
          <ng-container *ngIf="!inPromise">
            <p *ngIf="!preguntasList || !preguntasList.length" class="text-muted text-center font-italic">No existen preguntas registradas...</p>
            <ng-container *ngIf="preguntasList">
              <ng-container  *ngFor="let pregunta of preguntasList">
                  <ng-container *ngIf="pregunta.fk_idStatusSistema != 2">
                    <p class="text-uppercase bg-naranja rounded p-2 text-white font-bold">{{pregunta.pregunta}}</p>
                    <p class="card-text mr-4 ml-4 text-justify text-muted">{{pregunta.respuesta}}</p>
                  </ng-container>
              </ng-container>  
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
