<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h3 class="text-uppercase font-bold">Preguntas Frecuentes</h3>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
              <select class="form-control" [(ngModel)]="limit">
                <option>5</option>
                <option>10</option>
                <option>20</option>
              </select>
          </div>
          <div class="col-md-7">
              <input class="form-control" type="text" placeholder="Buscar" (keyup)='updateFilter($event)'>
          </div>
          <div class="col-md-3">
              <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#nuevo">Nuevo</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ngx-datatable
              #table
              class="bootstrap"
              [rowHeight]="80"
              [rows]="rows"
              [columns]="columns"
              [columnMode]="'force'"
              [footerHeight]="'40'"
              [rowClass]="rowClass"
              [limit]="limit">

              <ngx-datatable-column name="#" prop="idPreguntaFrecuente"></ngx-datatable-column>
              <ngx-datatable-column name="Pregunta" prop="pregunta"></ngx-datatable-column>
              <ngx-datatable-column name="Respuesta" prop="respuesta"></ngx-datatable-column>
              <ngx-datatable-column name="Estatus" prop="fk_idStatusSistema">
                <ng-template ngx-datatable-cell-template let-row="row">
                    <ng-container [ngSwitch]="row.fk_idStatusSistema">
                      <span class="text-danger" *ngSwitchCase="2">INACTIVO</span>
                      <span class="text-success" *ngSwitchDefault>ACTIVO</span>
                    </ng-container>
                </ng-template>                    
              </ngx-datatable-column>

              <ngx-datatable-column name="" prop="opts">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <a class="btn btn-default" (click)="set(row)" data-toggle="modal" data-target="#modificar"><i class="fa fa-edit"></i></a>
                  <a class="btn btn-default" (click)="set(row)" data-toggle="modal" data-target="#eliminar"><i class="fa fa-trash-o"></i></a>
                  <a class="btn btn-default" (click)="set(row)" data-toggle="modal" data-target="#estatus"><i class="fa fa-ban"></i></a>
                </ng-template>                    
              </ngx-datatable-column>

              <ngx-datatable-footer>
                  <ng-template 
                    ngx-datatable-footer-template 
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-curPage="curPage">
                    <div style="padding: 5px 5px">
                      <div>
                        Registros totales: {{rowCount}} |
                        Página: {{curPage}}
                      </div>
                    </div>
                    <datatable-pager
                        [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'"
                        [page]="curPage"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="table.onFooterPage($event)" style="flex: 1 1 60%">
                    </datatable-pager>
                  </ng-template>
                  
                </ngx-datatable-footer>
            </ngx-datatable>

          </div>        
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Nuevo -->
<div class="modal fade" id="nuevo" tabindex="-1" role="dialog" aria-labelledby="nuevoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-white" id="nuevoModal">Nuevo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="questionForm">
          <div class="form-group">
            <label for="pregunta">Pregunta:</label>
            <input type="text" formControlName="pregunta" class="form-control" id="pregunta" aria-describedby="preguntaDesc" placeholder="Escriba una pregunta">
          </div>
          <div class="form-group">
            <label for="respuesta">Respuesta:</label>
            <input type="text" formControlName="respuesta" class="form-control" id="respuesta" aria-describedby="respDesc" placeholder="Escribe una respuesta">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success" data-dismiss="modal" [disabled]="questionForm.invalid" (click)="save()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Modificar -->
<div class="modal fade" id="modificar" tabindex="-1" role="dialog" aria-labelledby="modificarModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-white" id="modificarModal">Modificar <span class="text-capitalize" *ngIf="questionToUpdate">'{{questionToUpdate.pregunta}}'</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="questionUpdateForm">
          <div class="form-group">
            <label for="pregunta">Pregunta:</label>
            <input type="text" formControlName="pregunta" class="form-control" id="pregunta" aria-describedby="preguntaDesc" placeholder="Escriba una pregunta">
          </div>
          <div class="form-group">
            <label for="respuesta">Respuesta:</label>
            <input type="text" formControlName="respuesta" class="form-control" id="respuesta" aria-describedby="respDesc" placeholder="Escribe una respuesta">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-info" data-dismiss="modal" [disabled]="questionUpdateForm.invalid" (click)="update()">Guardar</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal Eliminar -->
<div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="eliminarModal">Eliminar <span class="text-capitalize" *ngIf="questionToUpdate">'{{questionToUpdate.pregunta}}'</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-muted">¿Desea elíminar el registro?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Activar/Inactivar -->
<div class="modal fade" id="estatus" tabindex="-1" role="dialog" aria-labelledby="estatusModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title text-white" id="estatusModal">Cambiar estatus</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-muted">
          El siguiente regtistro pasará a estar en estatus 
          <ng-container *ngIf="questionToUpdate" [ngSwitch]="questionToUpdate.fk_idStatusSistema">
            <span class="text-danger" *ngSwitchCase="1">INACTIVO</span>
            <span class="text-success" *ngSwitchDefault>ACTIVO</span>
          </ng-container>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-warning text-white" data-dismiss="modal" (click)="updateStatus()">Aceptar</button>
      </div>
    </div>
  </div>
</div>