<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="form.titulo" placeholder="Titulo del reclarmo o sugerencia">
      </div>
      <div class="form-group">
        <textarea class="form-control" [(ngModel)]="form.descripcion" placeholder="descripcion"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-success" (click)="addReclamos()">Enviar</button>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let r of listReclamos">
          <h4>{{r.titulo}}</h4>
          <p>
            <b>Descripcion: </b> 
            {{r.descripcion}}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
