<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="form.titulo" placeholder="Titulo del reclarmo o sugerencia">
      </div>
      <div class="form-group">
        <textarea class="form-control" [(ngModel)]="form.descripcion" placeholder="descripcion"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-success">Enviar</button>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <h4>Titulo</h4>
          <p>
            <b>Descripcion: </b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, illo. Obcaecati exercitationem repudiandae blanditiis ipsa nesciunt et error dolor, quis minus sed quidem cumque laudantium animi ipsam debitis voluptatibus? Deleniti?
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
