<a routerLink="/">Volver al Inicio</a>

<hr>

<div class="form-group">
  <input type="text" [(ngModel)]="v_register.nombre" placeholder="nombre">
</div>
<div class="form-group">
  <input type="text" [(ngModel)]="v_register.email" placeholder="Correo Electronico">
</div>
<div class="form-group">
  <input type="text" [(ngModel)]="v_register.username" placeholder="Nombre de Usuario">
</div>
<div class="form-group">
  <input type="password" [(ngModel)]="v_register.password" placeholder="Contraseña">
</div>
<div class="form-group">
  <button class="btn btn-primary" (click)="addRegister()">Registrame</button>
</div>