<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3>Galeria Home</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Titulo" [(ngModel)]="new_galeria.titulo">
      </div>
      <div class="form-group">
        <label for="">Lista de Productos</label>
        <select [(ngModel)]="new_galeria.fk_idProducto" class="form-control" *ngFor="let l_p of list_productos">
          <option value="{{ l_p.idProducto  }}">{{ l_p.nombre }} - {{ l_p.titulo }}</option>
        </select>
      </div>
      <div class="form-group">
        <input type="file" (change)="upImg($event)">
      </div>
      <div class="form-group">
        <button class="btn btn-success" (click)="addSlideHome()">Guardar</button>
      </div>

      <hr>
      
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let l_g of list_galeria">
          <img src="{{l_g.set_imagen}}" class="img-fluid" alt="">
          <h4>{{l_g.titulo}}</h4>
        </li>
      </ul>

    </div>  
  </div>
</div>