<div class="row">
    <div class="col-sm-2">
    <div *ngFor="let order of list_order">
      <h2>Pedido: {{order.Pedido}}</h2>
      <label>Estado: {{order.EstadoPedido}}</label>
      <label>Direccion: {{order.Codigo_Provincia}} - {{order.Codigo_Localidad}}</label>
      <label>Cliente: {{order.Nombre_Cliente}}</label>
      <label>Chofer: {{order.Nombre_Transporte}}</label>

    </div>
    </div>
    <div class="col-sm-10"  style="height:700px">
      <iframe src="http://127.0.0.1:3000" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
    </div>
</div>
