<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="assets/banner/banner_principal_mascotas.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <app-rubros-filter></app-rubros-filter>
            </div>
        </div>
    </div>
</section>
<section class="m-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="text-center" id="productos">
                    <h2 class="font-bold" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#009BDD' }">PRODUCTOS</h2>
                </div>
                <div class="d-flex justify-content-between">
                    <ng-container *ngIf="productsList.length">
                        <h4 *ngIf="tittleList" class="font-italic text-uppercase font-bold">Coincidencias con
                            '{{tittleList}}'</h4>

                        <ng-container>
                            <section>
                                <fa-icon (click)="viewMode('CATALOGO')" matTooltip="Vista Tipo Catalogo" matTooltipPosition="above"
                                    [icon]="['fa','table']" [size]="'lg'" class="txt-naranja mr-2" [ngClass]="{'view':isListView}"></fa-icon >

                                <fa-icon (click)="viewMode('LISTA')" matTooltip="Vista Tipo Lista" matTooltipPosition="above"
                                    [icon]="['fa','list']" [size]="'lg'" class="txt-naranja mr-2" [ngClass]="{'view':!isListView}"></fa-icon>
                            </section>
                            <h4 class="font-italic text-uppercase font-bold" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#009BDD' }">{{!currentPage
                                ? 1 :
                                currentPage}}/{{pages}}</h4>
                        </ng-container>
                    </ng-container>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">

            <div class="col-3">
                <ul class="lista">
                    <li *ngFor='let i of list_arbol_p'>
                        <h4 class="desplegar font-bold" (click)='clickMenu()'>{{i.Descripcion_TablaGenerica}}</h4>
                        <ul class="desplegado">
                            <li *ngFor='let x of i.hijos' class="font-light">{{x.Dato_TablaGenerica}}</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-7">
                <mat-spinner *ngIf="!productsList || inPromise" [diameter]="100" style="margin: 0 auto;"></mat-spinner>
                <ng-container *ngIf="productsList && !inPromise" [ngSwitch]="productsList.length">
                    <ng-container *ngSwitchCase="0">
                        <div class="container">
                            <div class="row m-3">
                                <div class="col">
                                    <div class="card">
                                        <p class="card-body font-italic text-center text-muted">No hay productos que
                                            listar...</p>
                                        <p class="card-body font-italic text-center text-muted">Puede intentar
                                            seleccionando productos desde la sección de busqueda general o
                                            seleccionando los parámetros de los filtros</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <div class="mb-3 row">

                            <div class="col-12">
                                <ngb-carousel #carousel="ngbCarousel" (slide)="setCurrent($event)"
                                    [showNavigationArrows]="false" [showNavigationIndicators]="false">
                                    <ng-container *ngFor="let item of carouselItems">
                                        <ng-template ngbSlide [id]="item.id">
                                            <app-productos-carousel-page [items]="item.products"></app-productos-carousel-page>
                                        </ng-template>
                                    </ng-container>

                                </ngb-carousel>
                            </div>


                        </div>

                        <div class="row" *ngIf="pages > 1 && productsList">

                            <div class="col d-flex justify-content-center">

                                <div class="max txt-azul font-bold" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#009BDD' }">
                                    <h3>MAX:</h3>
                                </div>
                                <div class="ver ">

                                    <select (change)="MaxRangePartialItem($event.target.value)" class='form-control'>
                                        <option value='19'>20</option>
                                        <option value='49'>50</option>
                                        <option value='99'>100</option>
                                    </select>
                                </div>
                                <button class="btn btn-link txt-azul" (click)="carousel.prev()" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#009BDD' }">
                                    <fa-icon [icon]="['fas','angle-left']" size="4x"></fa-icon>
                                </button>
                                <h4 class="font-italic txt-azul text-uppercase font-bold mt-4">{{!currentPage ? 1 :
                                    currentPage}}/{{pages}}</h4>
                                <button class="btn btn-link txt-azul" (click)="carousel.next()" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#009BDD' }">
                                    <fa-icon [icon]="['fas','angle-right']" size="4x"></fa-icon>
                                </button>
                                <div class="total txt-azul font-bold" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#009BDD' }">
                                    <h3>TOTAL: {{productsList.length}} PRODUCTOS</h3>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <div class="col-2">
                <app-carrito-lateral></app-carrito-lateral>
            </div>
        </div>
    </div>
</section>