hr{
    background-color: #009bdd;
    height: 2px;
    margin-top: 0;
}
.total{
    position: absolute;
    right: 15px;
    top: 10px;
}
.ver{
    position: absolute;
    left: 90px;
    top: 15px;
}
.max{
    position: absolute;
    left: 15px;
    top: 15px;
}
ngb-carousel{
    outline: none;
}
html {
    scroll-behavior: smooth;
}
  
/* menu */
.lista{ width: 300px }
.lista li{ list-style: none; }

.desplegar{
    color: #E97604;
    cursor: pointer;
    padding: 10px;
}

.desplegado li{
    border-bottom: 1px solid black;
    color: black;
    cursor: pointer;
    padding: 10px;
    position: relative;
}