hr{
    background-color: #009bdd;
    height: 2px;
    margin-top: 0;
}
.total{
    position: absolute;
    right: 15px;
    top: 10px;
}

select.form-control{
    background-color: #f2f6db;
    border: 1px solid #e97604;
}
ngb-carousel{
    outline: none;
}
