<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center txt-naranja font-bold">PRODUCTOS</h3>
    </div>
  </div>
  <div class="row" style="padding-top:6%; padding-bottom:6%;">
    <!-- <div class="col-md-4" *ngFor="let listProducto of listProductos">
      <img src="{{listProducto.urlImage}}" class="img-fluid">
    </div> -->
    <div id="productosCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-3"><img class="img-fluid" src="../assets/productos/logo_1.jpg" style=" width:300px; display: inline-block;"></div>
            <div class="col-3"><img class="img-fluid" src="../assets/productos/logo_2.jpg" style=" margin-left:5%; width:300px; display: inline-block;"></div>
            <div class="col-3"><img class="img-fluid" src="../assets/productos/logo_3.jpg" style=" margin-left:5%; width:300px; display: inline-block;"></div>
            <div class="col-3"><img class="img-fluid" src="../assets/productos/logo_4.png" style=" margin-left:5%; width:300px; display: inline-block;"></div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-3"><img class="img-fluid" src="../assets/productos/logo_1.jpg" style=" width:300px; display: inline-block;"></div>
            <div class="col-3"><img class="img-fluid" src="../assets/productos/logo_2.jpg" style=" margin-left:5%; width:300px; display: inline-block;"></div>
            <div class="col-3"><img class="img-fluid" src="../assets/productos/logo_3.jpg" style=" margin-left:5%; width:300px; display: inline-block;"></div>
            <div class="col-3"><img class="img-fluid" src="../assets/productos/logo_4.png" style=" margin-left:5%; width:300px; display: inline-block;"></div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#productosCarousel" role="button" data-slide="prev" style="margin-left: -16%;">
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span> -->
          <img src="../assets/flecha_celeste_izquierda.png">
        </a>
        <a class="carousel-control-next" href="#productosCarousel" role="button" data-slide="next" style="right:-15%;">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span> -->
          <img src="../assets/flecha_celeste_derecha.png">
        </a>
    </div>
  </div>
</div>