<!--Perfil Cliente -->
<div class="modal fade" id="perfilClienteModal" tabindex="-1" role="dialog" aria-labelledby="perfilClienteModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-naranja">
        <h5 class="modal-title txt-blanco" id="perfilClienteModalTitle">Perfil Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="txt-blanco">&times;</span>
        </button>
      </div>
      <div class="modal-body">  

        <form [formGroup]="formData">

          <div class="form-group">
            <label for="">Nombre del Comercio</label>
            <input type="text" class="form-control" formControlName="nombreComercio" [(ngModel)]="form.nombreComercio" placeholder="Ingrese Nombre del Comercio">
          </div>
    
          <div class="form-group">
            <label for="">Nombre</label>      
            <input type="text" class="form-control" formControlName="nombre" [(ngModel)]="form.nombre" placeholder="Nombre">  
          </div>
    
          <div class="form-group">
            <label for="">Apellido</label>      
            <input type="text" class="form-control" formControlName="apellido" [(ngModel)]="form.apellido" placeholder="Apellido">
          </div>
    
          <div class="form-group">
            <label for="">Documento DNI</label>      
            <input type="text" class="form-control" formControlName="documento_dni" [(ngModel)]="form.documento_dni" placeholder="Documento DNI">
          </div>
    
          <div class="form-group">
            <label for="">Documento Otro</label>
            <input type="text" class="form-control" formControlName="documento_otro" [(ngModel)]="form.documento_otro" placeholder="Documento Otro">        
          </div>
    
          <div class="form-group">
            <label for="">Correo Electronico</label>
            <input type="email" class="form-control" formControlName="correo" [(ngModel)]="form.correo" placeholder="Ingrese Email">
          </div>
    
          <div class="form-group">
            <label for="">Telefono</label>
            <div class="form-inline">
              <input type="phone" class="form-control" formControlName="telefono_code" [(ngModel)]="form.telefono_code" placeholder="(011)" size="5">
              <input type="phone" class="form-control" formControlName="telefono" [(ngModel)]="form.telefono" placeholder="Ingrese Telefono">
            </div>        
          </div>
    
          <div class="form-group">
            <label for="">Celular</label>
            <div class="form-inline">
              <input type="phone" class="form-control" formControlName="celular_code" [(ngModel)]="form.celular_code" placeholder="(011)" size="5">
              <input type="phone" class="form-control" formControlName="celular" [(ngModel)]="form.celular" placeholder="Ingrese Celular">
            </div>
          </div>
        
        </form>   

      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block" (click)="crear()" *ngIf="isNuevo" [disabled]="!formData.valid">Crear</button>
        <button class="btn btn-primary btn-block" (click)="update()" *ngIf="!isNuevo" [disabled]="!formData.valid">Actualizar</button>       
      </div>
    </div>
  </div>
</div>