<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Deposito Central</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="config-home">Config home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a routerLink="config-footer" class="nav-link">Config Footer</a>
          </li>
          <li class="nav-item">
            <a routerLink="galeria-home" class="nav-link">Galeria Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="ofertas" class="nav-link">Ofertas</a>
          </li>
          <li class="nav-item">
            <a routerLink="reclamos-sugerencias" class="nav-link">Reclamos o Sugerencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="perfil">
                <img src="{{dataUser.img_perfil}}" alt="" width="32"> 
                {{ dataUser.userName }} 
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" (click)="salirLogin()">Salir</a>
          </li>            
      </ul>
  </div>
</nav>