<div class="modal fade" id="contactanosModal" tabindex="-1" role="dialog" aria-labelledby="contactanosModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-azul">
          <h5 class="modal-title txt-blanco font-bold" id="contactanosModalTitle">CONTÁCTANOS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="txt-blanco">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img src="url" width="100px" class="img-fluid d-block mx-auto"> <br>
            <h4 class="text-center">TELÉFONOS</h4>
            <p class="text-center">00 000 0000 / 00 000 0000 / <br> 00 000 0000  </p>
  
            <img src="url" width="100px" class="img-fluid d-block mx-auto"> <br>
            <h4 class="text-center">MAILS</h4>
            <p class="text-center">direccion@gmail.com / direccion@gmail.com / <br> direccion@gmail.com  </p>
  
            <img src="url" width="100px" class="img-fluid d-block mx-auto"> <br>
            <h4 class="text-center">WHATSAPP</h4>
            <p class="text-center">00 000 0000 / 00 000 0000 / <br> 00 000 0000  </p>
  
            <button class="btn btn-success btn-block text-center" style="background-color: #028d35"> DONDE ESTAMOS </button>
      </div>
    </div>
  </div>