<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img src="../assets/banner_final.png" class="img-fluid">
      <ul id='link-descarga' class="nav">
        <li class="nav-item">
          <a [href]="google_play">
            <img src="../assets/dow-google-play.png" target='_blank' width="180" class="img-responsive">
          </a>
        </li>
        <li class="nav-item">
          <a [href]="app_store">
            <img src="../assets/dow-app-store.png" target='_blank' width="180" class="img-responsive" style="margin-left:34%;">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>