<!-- Modal turnos lista -->
 <div class="modal fade bd-example-modal-lg" id="carroturnos" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-azul">
        <h5 class="text-white">TURNOS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="txt-blanco">&times;</span>
        </button>
      </div>

      <div class="modal-body ">
        
        <table class="table table-curved ">
          <thead class="bg-azul text-white">
            <tr>
              <th scope="col" width="20%">RUBRO</th>
              <th scope="col" width="20%">LOCAL</th>
              <th scope="col" width="10%">N°</th>
              <th scope="col" width="25%">FECHA</th>
              <th scope="col" width="15%">ESTADO</th>
              <th scope="col" width="10%"></th>

            </tr>
          </thead>
        </table>
        <h5 *ngIf="!misTurnos.length && !inPromise" style="text-align: center;">No Posee Turnos</h5>
        <div class="bodyTable">
            <table class="table table-curved" >

                <tbody >
                  <ng-container *ngFor="let item of misTurnos">
                    <tr *ngIf="misTurnos.length">
                      <td width="20%">{{item.rubro}}</td>
                      <td width="20%">{{item.local}}</td>
                      <td width="10%">{{item.id}}</td>
                      <td width="25%"><strong>{{item.fecha}}</strong></td>
                      <td width="15%">
                        <span *ngIf="item.status == 1">Solicitado</span>
                        <span *ngIf="item.status == 2">Cancelado</span>
                        <span *ngIf="item.status == 3">Rechazado</span>
                      </td>
                      <td width="10%">
                        <button *ngIf="item.status!=2" class="btn-danger" style="width: 100%; border-radius: 4px; cursor: pointer;" [disabled]="item.status==2" data-toggle="modal" data-target="#cancelarTurno" (click)="cancelarDatos(item)"  >Cancelar</button>
                        <button *ngIf="item.status==2" class="btn-secondary" style="width: 100%; border-radius: 4px; cursor: pointer;" [disabled]="item.status==2" data-toggle="modal" data-target="#cancelarTurno" (click)="cancelarDatos(item)"  >Cancelar</button>

                      </td>
                    </tr>
                  </ng-container>
      
                </tbody>
     
              </table>
        </div>
        

      </div>
      <div class="modal-footer">
        <mat-spinner *ngIf='inPromise' diameter="30" style="margin: 0 auto;"></mat-spinner>

      </div>
    </div>
  </div>
</div> 
<!-- Modal cancelar -->
<div class="modal fade" id="cancelarTurno" tabindex="-1" role="dialog" aria-labelledby="nuevoModal" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content ">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white  font-bold" id="nuevoModal">¿Desea Cancelar este turno ?</h5>
      </div>
      <div class="modal-body font-bold">
        <mat-spinner *ngIf='inPromise2' diameter="30" style="margin: 0 auto;"></mat-spinner>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success" [disabled]="inPromise" (click)="cancelarStatus()">Aceptar</button>
      </div>
    </div>
  </div>
</div>


