<div style="background-color: #f1f1f1; padding-top: 4%; padding-bottom: 4%;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="text-center p-3 txt-azul font-bold">DESTACADOS</h2>
			</div>
		</div>
	</div>
	<ng-container *ngIf="destacados" [ngSwitch]="destacados.length">
		<ng-container *ngSwitchCase="0">
			<!--No hay destacados-->
		</ng-container>
		<ng-container *ngSwitchDefault>
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<ng-container *ngFor="let item of destacados; let i=index">
						<ng-container *ngIf="isACarruselItem(i)">
							<app-carousel-item [items]="getPartialItems(i, i+3)" [isActive]="(i === 0) ? true: false"></app-carousel-item>
						</ng-container>
					</ng-container>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
						<img src="../assets/flecha_celeste_izquierda.png">
					</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
					<img src="../assets/flecha_celeste_derecha.png">
				</a>
			</div>
		</ng-container>
	</ng-container>
	
</div>
