<div class="container-fluid" style="margin-bottom: 2%;">
    <div class="row justify-content-center" style="
      background-color: white;
      padding-top: 4%;
      padding-bottom: 4%;
    ">
      <div class="col-md-5">
        <div class="form-inline">
          <input type="text" class="form-control" style="
          border: none;
          background: no-repeat;
          border-bottom: 1px solid black;
          border-radius: 0px;
          width: 90%;"
          placeholder="Provincia, Localidad, Barrio"
          >
  
          <img src="../../assets/lupa.png" class="img-fluid" style="cursor:pointer">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a href="#" class="nav-link active">PELUQUERÍAS</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">CRIADEROS</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">GUARDIAS 24H</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">PASEADORES</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">REFUGIOS</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">VETERINARIAS</a>
          </li>        
        </ul>
      </div>
    </div>
  </div>

<div style="background-color: #f2f2f2; padding-bottom:4%; padding-top: 2%;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center txt-azul font-bold p-3">BAÑOS Y PELUQUERÍAS</h2>
      </div>
    </div>

    <div class="row bg-blanco border-1" style="margin-top:2%;">
      <div class="col-md-3">
        img
      </div>
      <div class="col-md-6">
        <div class="p-2">
            <h3 class="txt-azul font-bold">Nombre Cliente</h3>
            <p class="text-justify">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vel ex maxime omnis dicta assumenda
            </p>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn bg-naranja btn-block txt-blanco" style="margin-top:16%;">CONTACTAR</button>
      </div>
    </div>
  </div>   
</div>
 