img{
    padding-bottom: 5%;
    cursor: pointer;
}

.t-b-azul{ background-color: #009BDD; color: white; }

.hover-normal{
    background-color: none;
    color: black;
    padding: 5%;
}

.hover-blue{
    /* background-color: #009Bdd; */
    border-radius: 86% 86% 0 0;
    color: white;
    padding: 5%;
    cursor: pointer;
}

/* Como comprar */
.ul-capas{
    margin-top: 7%;
}
.ul-capas p{
    color: #b5b8a2;
}
.list-capas{
    background: #f2f6db;
    border-radius: 6px;
    display: inline-grid;
    list-style: none;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-left: 1%;
    width: 145px;
    height: 244px;
}
.capa{
    background: white;
    border-radius: 100%;
    margin-left: 4%;
    margin-top: -48px;
    padding: 10px;
    position: absolute;
    width: 90px;
}
.capa-uno{
    background: white;
    border-radius: 100%;
    border: 1px solid #ed7600;
    padding: 10px;
    width: 71px;
}
.capa-dos{
    background: #ed7600;
    border-radius: 100%;
    padding: 11px;
    width: 50px;
}

/* Forma de Pago */
.cont{
    border-radius: 6px;
    padding-bottom: 30px;
    padding: 20px;
    height: 384px;
}
.cont h5{
    background-color: #E97604;
    color: white;
    padding:10px;
    font-weight: bold;
}
.btn{
    font-size: 18px;
    padding-left: 8%;
    padding-right: 8%;
}


/* donde estamos */

.ul-capas-comprar .ul-capas{
    margin-top: 7%;
}
.ul-capas-comprar .ul-capas p{
    color: #b5b8a2;
}
.ul-capas-comprar .capa{
    background: white;
    border-radius: 100%;
    margin-left: 9%;
    margin-top: -48px;
    padding: 10px;
    position: absolute;
    width: 90px;
}
.ul-capas-comprar .list-capas{
    background: #f2f6db;
    border-radius: 6px;
    display: inline-grid;
    list-style: none;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-left: 3%;
    width: 283px;
    height: 257px;
}