<div class="container">
  <div class="row" style="padding-top: 3%; padding-bottom: 3%;">
    <div class="col-md-3" id="compra">
      <img src="../assets/como_envio/como_comprar_1.png" width="130" class="d-block mx-auto img-fluid">
      <h3 class="text-center"> COMO <br> COMPRAR </h3>
    </div>
    <div class="col-md-3" id="envio">
      <img src="../assets/como_envio/enviar_1.png" width="130" class="d-block mx-auto img-fluid">
      <h3 class="text-center"> ENVIOS </h3>
    </div>
    <div class="col-md-3" id="forma_pago">
      <img src="../assets/como_envio/formas_de_pago_1.png" width="130" class="d-block mx-auto img-fluid">
      <h3 class="text-center"> FORMAS DE <br> PAGO </h3>
    </div>
    <div class="col-md-3" id="retiro_tienda">
      <img src="../assets/como_envio/retirar_en_tienda_1.png" width="130" class="d-block mx-auto img-fluid">
      <h3 class="text-center"> RETIRAR EN <br> LA TIENDA </h3>
    </div>
  </div>
</div>