<div class="container">
  <div class="row" style="padding-top: 3%; padding-bottom: 3%;">
    <div class="col-md-3" id="compra">
      <div data-toggle="modal" data-target="#comoComprarModal">
        <img src="../assets/como_envio/como_comprar_1.png" width="130" class="d-block mx-auto img-fluid">
        <h3 class="text-center hover-normal"> COMO <br> <b>COMPRAR</b> </h3>
      </div>
    </div>
    <div class="col-md-3" id="envio">
      <div data-toggle="modal" data-target="#enviosModal">
        <img src="../assets/como_envio/enviar_1.png" width="130" class="d-block mx-auto img-fluid">
        <h3 class="text-center hover-normal"> ENVIOS </h3>
      </div>
    </div>
    <div class="col-md-3" id="forma_pago">
      <div data-toggle="modal" data-target="#formasDePagoModal">
        <img src="../assets/como_envio/formas_de_pago_1.png" width="130" class="d-block mx-auto img-fluid">
        <h3 class="text-center hover-normal"> FORMAS DE <br> <b>PAGO</b> </h3>
      </div>
    </div>
    <div class="col-md-3" id="retiro_tienda">
      <div data-toggle="modal" data-target="#retirarEnTiendaModal">
        <img src="../assets/como_envio/retirar_en_tienda_1.png" width="130" class="d-block mx-auto img-fluid">
        <h3 class="text-center hover-normal"> RETIRAR EN <br> <b> LA TIENDA</b> </h3>
      </div>
    </div>
  </div>
</div>



<!-- Como Comprar -->
<div class="modal fade" id="comoComprarModal" tabindex="-1" role="dialog" aria-labelledby="comoComprarModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-naranja">
          <h5 class="modal-title txt-blanco" id="comoComprarModalTitle">¿Como comprar?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="txt-blanco">&times;</span>
          </button>
        </div>
        <div class="modal-body">  
  
        </div>
      </div>
    </div>
  </div>

  <!-- Envio -->
  <div class="modal fade" id="enviosModal" tabindex="-1" role="dialog" aria-labelledby="enviosModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-naranja">
          <h5 class="modal-title txt-blanco" id="enviosModalTitle">Envios</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="txt-blanco">&times;</span>
          </button>
        </div>
        <div class="modal-body">  

        </div>
      </div>
    </div>
  </div>

  <!-- Formas de Pagos -->
  <div class="modal fade" id="formasDePagoModal" tabindex="-1" role="dialog" aria-labelledby="formasDePagoModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-naranja">
          <h5 class="modal-title txt-blanco" id="formasDePagoModalTitle">Formas de Pago</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="txt-blanco">&times;</span>
          </button>
        </div>
        <div class="modal-body">  

        </div>
      </div>
    </div>
  </div>

  <!-- Retirar en la tienda -->
  <div class="modal fade" id="retirarEnTiendaModal" tabindex="-1" role="dialog" aria-labelledby="retirarEnTiendaModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-naranja">
          <h5 class="modal-title txt-blanco" id="retirarEnTiendaModalTitle">Retirar en la tienda</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="txt-blanco">&times;</span>
          </button>
        </div>
        <div class="modal-body">  

        </div>
      </div>
    </div>
  </div>