.busqueda{
    width: 80%;
    margin-left: 34%;
}

.container-figure{
    background-color: #f4f6dc;
    height: 250px;
    padding: 40px 40px 10px 40px ;
}
/* img{
    width: 90px;
    height: 100px;
    margin-bottom: 1.3rem;
} */
img{
    /* padding-top: 15px; */
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    cursor: pointer;
    

}

.product-draw span{
    width: 100%;
    display: block;
}

.product-draw span:last-child{
    font-size: .6rem;
}

.modal-lg {
    max-width: 1000px;
}
.number-wrap{
    width: 45px;
    height: 45px;
    padding: 7px;
    background-color: white;
    border: 1px solid #e97604;
    /* position: absolute; */
    right: 40%;
    top: 0;
}
.sub-number-wrap{
    width: 30px;
    height: 30px;
    padding: 4px;
}
.btn-green{
    background-color: #018c36;
}

.disabled-wrap .sub-number-wrap, 
.disabled-wrap .container-figure, 
.disabled-wrap button{
    background: #e7e7e7 !important;
}

.disabled-wrap .number-wrap{
    border: 1px solid #e7e7e7;
}

.disabled-wrap h6, 
.disabled-wrap p{
    color:#595859
}

.disabled-wrap p{
    font-size:0.8em;
}

.verIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px; 
    width: 35px;
    background: orange;
   
    border-radius: 95% 0; 
   transform: rotate(30deg);
   position:relative;
    } 
.verIcon2 { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px; 
    width: 20px;
    margin:auto;
 
    background: white;
  
    border-radius: 50%; 
   
 } 
.verIcon3 { 
    height: 10px; 
   width: 10px;
   margin:auto;
   background: orange;
  
   border-radius: 50%; 
 }
 a{
     cursor: pointer;

 }

 

