.busqueda{
    position: absolute;
    right: 30px;
    width: 35%;
}

.container-figure{
    background-color: #f4f6dc;
    height: 250px;
    padding: 40px 40px 10px 40px ;
}
img{
    width: 90px;
    height: 100px;
    margin-bottom: 1.3rem;
}

.product-draw span{
    width: 100%;
    display: block;
}

.product-draw span:last-child{
    font-size: .6rem;
}

.modal-lg {
    max-width: 1000px;
}
.number-wrap{
    width: 55px;
    height: 55px;
    padding: 7px;
    background-color: white;
    border: 1px solid #e97604;
    position: absolute;
    right: 40%;
    top: 0;
}
.sub-number-wrap{
    width: 40px;
    height: 40px;
    padding: 8px;
}
.btn-green{
    background-color: #018c36;
}

.disabled-wrap .sub-number-wrap, 
.disabled-wrap .container-figure, 
.disabled-wrap button{
    background: #e7e7e7 !important;
}

.disabled-wrap .number-wrap{
    border: 1px solid #e7e7e7;
}

.disabled-wrap h6, 
.disabled-wrap p{
    color:#595859
}

.disabled-wrap p{
    font-size:0.8em;
}

