<!-- Modal nuevo -->
<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserModalLabel">Nuevo Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newUser">
          <div class="form-group">
              <label for="">Nombre</label>
              <input type="text" class="form-control" formControlName="nombre" required [(ngModel)]="newForm.name">
            </div>
            <div class="form-group">
              <label for="">UserName</label>
              <input type="text" class="form-control" formControlName="userName" required [(ngModel)]="newForm.userName">
            </div>
            <div class="form-group">
              <label for="">Tipo de Perfil</label>
              <select class="form-control" formControlName="tipo_perfil" required [(ngModel)]="newForm.fk_idPerfil">
                <option *ngFor="let l of list_rol" value="{{l.idPerfil}}">{{l.nombre}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Correo Electronico</label>
              <input type="text" class="form-control" formControlName="email" required [(ngModel)]="newForm.email">
            </div>
            <div class="form-group">
              <label for="">Contraseña</label>
              <input type="password" class="form-control" formControlName="password" required [(ngModel)]="newForm.password">
            </div>
            <div class="form-group">
              <label for="">Contraseña</label>
              <input type="password" class="form-control" formControlName="password_confirmation" required [(ngModel)]="newForm.password_confirmation">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="addUser()" [disabled]="!newUser.valid">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar {{editForm.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" required [(ngModel)]="editForm.name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" required [(ngModel)]="editForm.userName">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" required [(ngModel)]="editForm.email">
        </div>
        <div class="form-group">
          <label for="">Tipo de Perfil</label>
          <select class="form-control" required [(ngModel)]="editForm.fk_idPerfil">
            <option *ngFor="let lis of list_rol" value="{{lis.idPerfil}}">{{lis.nombre}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="upgradeUser()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Eliminar Usuario -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteUserModalLabel">Eliminar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">¿Esta seguro de desea eliminar el usuario?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">no</button>
        <button type="button" class="btn btn-success" (click)="deleteUser()">Si</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="p-2">Gestion de Usuarios - <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#newUserModal" > Agregar Usuario</button></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let listUser of listUsers">
            <th scope="row">{{listUser.name}}</th>
            <td>{{listUser.userName}}</td>
            <td>{{listUser.email}}</td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="editUser(listUser)">Editar</button>
              <button class="btn btn-danger btn-sm" (click)="preguntarDelete(listUser.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
