<!-- Modal -->
<div class="modal fade" id="reclamoModel" tabindex="-1" role="dialog" aria-labelledby="reclamoModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reclamoModelLabel">Nuevo Reclamo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="">Titulo</label>
          <input type="text" class="form-control" [(ngModel)]="form.titulo" placeholder="Titulo del reclarmo o sugerencia">
        </div>
        <div class="form-group">
          <label for="">Descripción</label>
          <textarea class="form-control" [(ngModel)]="form.descripcion" placeholder="descripcion"></textarea>
        </div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="addReclamos()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- <div class="row">
    <div class="col-md-12">
      <div class="form-group text-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reclamoModel">
            Nuevo Reclamo
          </button>
      </div>
    </div>
  </div> -->
  <div class="row justify-content-center">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active" id="nav-abierto"><a>Abierto</a></li>
        <li role="presentation" id="nav-recibida"><a>Recibida</a></li>
        <li role="presentation" id="nav-cerrada"><a>Cerrada</a></li>
      </ul>

      <!-- Abierto -->
      <div id="list-abierto" >
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let r of listReclamosAbiertos">                
            <p>{{r.titulo}} <br>
              <small>Status: {{r.statusReclamoSugerencia}}</small>
            </p>
            <p><b>Descripcion: </b> {{r.descripcion}}</p>
            <div class="form-inline">
              <select class="form-control" [(ngModel)]="changeStatus">
                <option value="2">Cerrar</option>
                <option value="3">Recibida</option>
              </select>
              <button class="btn btn-info btn-sm" (click)="upgradeStatus(r.idReclamosSugerencia)">Actualizar</button>
            </div>              
          </li>
        </ul>
      </div>
      
      <!-- Recibido -->
      <div id="list-recibida">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let r of listReclamosRecibido">               
                <p>{{r.titulo}} <br>
                  <small>Status: {{r.statusReclamoSugerencia}}</small>
                </p>
                <p><b>Descripcion: </b> {{r.descripcion}}</p>
                <div class="form-inline">
                  <select class="form-control" [(ngModel)]="changeStatus">
                    <option value="2">Cerrar</option>
                    <option value="3">Recibida</option>
                  </select>
                  <button class="btn btn-info btn-sm" (click)="upgradeStatus(r.idReclamosSugerencia)">Actualizar</button>
                </div>            
            </li>
          </ul>
        </div>

      <!-- Cerrados -->
      <div id="list-cerrada">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let r of listReclamosCerrado">              
            <p>{{r.titulo}} <br>
              <small>Status: {{r.statusReclamoSugerencia}}</small>
            </p>
            <p><b>Descripcion: </b> {{r.descripcion}}</p>
            <div class="form-inline">
              <select class="form-control" [(ngModel)]="changeStatus">
                <option value="2">Cerrar</option>
                <option value="3">Recibida</option>
              </select>
              <button class="btn btn-info btn-sm" (click)="upgradeStatus(r.idReclamosSugerencia)">Actualizar</button>
            </div>
          </li>
        </ul>
      </div>


    </div>
  </div>
</div>
