<!-- Modal -->
<div class="modal fade" id="reclamoModel" tabindex="-1" role="dialog" aria-labelledby="reclamoModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reclamoModelLabel">Nuevo Reclamo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="">Titulo</label>
          <input type="text" class="form-control" [(ngModel)]="form.titulo" placeholder="Titulo del reclarmo o sugerencia">
        </div>
        <div class="form-group">
          <label for="">Descripción</label>
          <textarea class="form-control" [(ngModel)]="form.descripcion" placeholder="descripcion"></textarea>
        </div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="addReclamos()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified">
        <li (click)="clickUpdate()" role="presentation" class="active" id="nav-abierto"><a>Abierto</a></li>
        <li (click)="clickUpdate()" role="presentation" id="nav-recibida"><a>Recibida</a></li>
        <li (click)="clickUpdate()" role="presentation" id="nav-cerrada"><a>Cerrada</a></li>
      </ul>

      <!-- Abierto -->
      <div id="list-abierto" >

        <div class="form-group">
            <input type="search" class="form-control" (keyup)='updateFilter($event,"abierto")' placeholder="Busqueda en Abierto">
        </div>
        
        <ngx-datatable
          #tableAbierto
          class="bootstrap"
          [rows]="abierto"
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="10">
        
          <ngx-datatable-column name="Titulo" prop="titulo"></ngx-datatable-column>
          <ngx-datatable-column name="Descripcion" prop="descripcion"></ngx-datatable-column>
          
          <ngx-datatable-column name="Cambio de Estado" prop="statusReclamoSugerencia">
              <ng-template ngx-datatable-cell-template let-row="row">
                  <select class="form-control" (change)="upgradeStatus($event,row.idReclamosSugerencia)">
                    <option value="2">Cerrar</option>
                    <option value="3">Recibida</option>
                  </select>
              </ng-template>                    
            </ngx-datatable-column>
        </ngx-datatable>
      </div>
      
      <!-- Recibido -->
      <div id="list-recibida">

          <div class="form-group">
              <input type="search" class="form-control" (keyup)='updateFilter($event, "recibido")' placeholder="Busqueda en Recibido">
          </div>
          
          <ngx-datatable
            #tableRecibido
            class="bootstrap"
            [rows]="recibido"
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10">
          
            <ngx-datatable-column name="Titulo" prop="titulo"></ngx-datatable-column>
            <ngx-datatable-column name="Descripcion" prop="descripcion"></ngx-datatable-column>
            
            <ngx-datatable-column name="Cambio de Estado" prop="statusReclamoSugerencia">
                <ng-template ngx-datatable-cell-template let-row="row">
                    <select class="form-control" (change)="upgradeStatus($event,row.idReclamosSugerencia)">
                        <option value="1">Abierto</option>
                      <option value="2">Cerrar</option>                      
                    </select>
                </ng-template>                    
              </ngx-datatable-column>
          </ngx-datatable>

        </div>

      <!-- Cerrados -->
      <div id="list-cerrada">

          <div class="form-group">
              <input type="search" class="form-control" (keyup)='updateFilter($event, "cerrado")' placeholder="Busqueda en Cerrado">
          </div>
          
          <ngx-datatable
            #tableCerrado
            class="bootstrap"
            [rows]="cerrado"
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10">
          
            <ngx-datatable-column name="Titulo" prop="titulo"></ngx-datatable-column>
            <ngx-datatable-column name="Descripcion" prop="descripcion"></ngx-datatable-column>
            
            <ngx-datatable-column name="Cambio de Estado" prop="statusReclamoSugerencia">
                <ng-template ngx-datatable-cell-template let-row="row">
                    <select class="form-control" (change)="upgradeStatus($event,row.idReclamosSugerencia)">
                      <option value="2">Cerrar</option>
                      <option value="3">Recibida</option>               
                    </select>
                </ng-template>                    
              </ngx-datatable-column>
          </ngx-datatable>        
      </div>


    </div>
  </div>
</div>
