<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <img src="assets/blog/banner_principal.jpg" id="banner-principal" alt="banner principal">
      </div>
    </div>
    <div class="row" style="background-color: #f2f2f2;">
      <div class="col mt-4 mb-4">
        <div class="text-center">
            <h2 *ngIf="section !== 'blogs'" class="font-bold" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#009BDD' }">CATEGORÍAS</h2>
            <h2 *ngIf="section === 'blogs'" class="font-bold" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#009BDD' }">BLOGS</h2>
        </div>
        <div class="d-flex justify-content-between">
          <div class="m-2" *ngIf="section === 'blogs'">
            <button class="txt-azul" mat-icon-button (click)="routeTo('')" matTooltip="Categorías">
              <fa-icon [icon]="['fas','arrow-left']" size="2x"></fa-icon>
            </button>
          </div>
          
          <h4 *ngIf="section !== 'blogs'" class="font-italic" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#009BDD' }">TOTAL: {{categoriesList.length}}</h4>
          <h4 *ngIf="section === 'blogs'" class="font-italic text-uppercase" [ngStyle]=" colorUno ? {color: colorUno } : {color: '#009BDD' }">{{catSelected}} - TOTAL: {{blogsList.length}}</h4>
        </div>
        <hr>
        <div class="container">
          <div class="row justify-content-center deposito-cards">
            <mat-spinner *ngIf="inPromise" class="m-auto" diameter="100"></mat-spinner>
            <ng-container *ngIf="!inPromise" [ngSwitch]="section">
              <ng-container *ngSwitchDefault>
                <div class="col-3 text-center" *ngFor="let cat of categoriesList">
                  <div class="card sm m-2" (click)="routeTo('blogs', cat)">
                    <img *ngIf="cat.set_imagen" class="card-img-top" [src]="cat.set_imagen" alt="{{cat.titulo}}">                    
                    <img *ngIf="!cat.set_imagen"
                          src="assets/no_image_aviable.png" alt="nombre"
                           class="card-img-top"
                          />
                    <div class="card-body">
                      <h5 class="card-title text-capitalize font-bold">{{cat.titulo}}</h5>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'blogs'">
                <div class="col-4 text-center" *ngFor="let blog of blogsList">
                  <div class="card lg m-2" (click)="getBlogById(blog.idBlog)">
                    <mat-spinner *ngIf="inBatch === blog.idBlog" class="spinner-inbatch"></mat-spinner>
                    <img class="card-img-top" [src]="blog.set_imagen" alt="{{blog.titulo}}">
                    <div class="card-body">
                      <h5 class="card-title text-capitalize font-bold">{{blog.titulo}}</h5>
                      <p class="text-center">{{blog.descripcion}}</p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalBlog" tabindex="-1" role="dialog" aria-labelledby="modalBlogTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-azul">
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="actualBlog">
        <div class="row">
          <div class="col-4">
            <img *ngIf="actualBlog.set_imagen" width="100%" [src]="actualBlog.set_imagen" alt="" style="border-radius: .7em;">
            <img *ngIf="!actualBlog.set_imagen"
                           src="assets/no_image_aviable.png" alt="nombre"
                           style="border-radius: .7em;"
                           width="100%"
                           />
          </div>
          <div class="col-8">
            <div class="p-3">
              <h4 class="text-capitalize txt-naranja font-bold">{{actualBlog.blogs.titulo}}</h4>
              <p class="text-justify" >{{actualBlog.blogs.descripcion}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>