<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <img src="assets/blog/banner_principal.jpg" id="banner-principal" alt="banner principal">
      </div>
    </div>
    <div class="row" style="background-color: #f2f2f2;">
      <div class="col mt-4 mb-4">
        <div class="text-center">
            <h2 *ngIf="section !== 'blogs'" class="txt-azul font-bold">CATEGORÍAS</h2>
            <h2 *ngIf="section === 'blogs'" class="txt-azul font-bold">BLOGS</h2>
        </div>
        <div class="d-flex justify-content-between">
          <div class="m-2" *ngIf="section === 'blogs'">
            <button class="txt-azul" mat-icon-button (click)="routeTo('')" matTooltip="Categorías">
              <fa-icon [icon]="['fas','arrow-left']" size="2x"></fa-icon>
            </button>
          </div>
          
          <h4 *ngIf="section !== 'blogs'" class="txt-azul font-italic">TOTAL: {{categoriesList.length}}</h4>
          <h4 *ngIf="section === 'blogs'" class="txt-azul font-italic text-uppercase">{{catSelected}} - TOTAL: {{blogsList.length}}</h4>
        </div>
        <hr>
        <div class="container">
          <div class="row justify-content-center deposito-cards">
            <mat-spinner *ngIf="inPromise" class="m-auto" diameter="100"></mat-spinner>
            <ng-container *ngIf="!inPromise" [ngSwitch]="section">
              <ng-container *ngSwitchDefault>
                <div class="col-3 text-center" *ngFor="let cat of categoriesList">
                  <div class="card sm m-2" (click)="routeTo('blogs', cat)">
                    <img class="card-img-top" [src]="image" alt="Card image cap">                    
                    <div class="card-body">
                      <h5 class="card-title text-capitalize font-bold">{{cat.titulo}}</h5>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'blogs'">
                <div class="col-4 text-center" *ngFor="let blog of blogsList">
                  <div class="card lg m-2" (click)="getBlogById(blog.idBlog)">
                    <mat-spinner *ngIf="inBatch === blog.idBlog" class="spinner-inbatch"></mat-spinner>
                    <img class="card-img-top" [src]="blog.set_imagen" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-capitalize font-bold">{{blog.titulo}}</h5>
                      <p class="text-center">{{blog.descripcion}}</p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalBlog" tabindex="-1" role="dialog" aria-labelledby="modalBlogTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-azul">
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="actualBlog">
        <div class="row">
          <div class="col-4">
            <img width="100%" src="http://127.0.0.1:8000/storage\blog\1366x768-star-wars-battlefront-2-desktop-pc-and-mac-wallpaper-1543625483-793.jpg" alt="">
          </div>
          <div class="col-8">
            <div class="p-3">
              <h4 class="text-capitalize txt-naranja font-bold">{{actualBlog.titulo}}</h4>
              <p class="text-justify">{{actualBlog.descripcion}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>