#banner-principal{
    width: 100%;
}

hr{
    background-color: #009bdd;
    height: 2px;
    margin-top: 0;
}

.deposito-cards .card{
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100%;
}

.deposito-cards .card.lg{
    height: 300px;
}

.deposito-cards .card.sm{
    height: 240px;
}

.deposito-cards .card-body{
    background-color: #e97705;
    margin-top: 10em;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align: center;
    color: white;
    text-overflow: ellipsis
}