<div class="container-fluid" style="margin-bottom: 2%;">
  <div class="row">
    <div class="col-md-12">
      <img src="../../assets/banner/banner_principal_recomprar.jpg" class="img-fluid  d-block mx-auto">
    </div>
  </div>
  <!--<div class="row justify-content-center" style="
    background-color: white;
    padding-top: 0%;
    padding-bottom: 4%;
  ">
    <div class="col-md-5">
      <div class="form-inline">
        <input type="text" class="form-control" style="
        border: none;
        background: no-repeat;
        border-bottom: 1px solid black;
        border-radius: 0px;
        width: 90%;"
        placeholder="Buscar Compra"
        >

        <img src="../../assets/lupa.png" class="img-fluid" style="cursor:pointer">
      </div>
    </div>
  </div> -->
</div>

<section class="mb-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="txt-azul font-bold text-center p-3">
          RECOMPRAR
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header bg-azul txt-blanco text-uppercase" id="recomprar" [ngStyle]=" colorUno ? {background: colorUno } : {background: '#009BDD' }">
            <h5 class="m-2">RECOMPRAR</h5>
          </div>
          <div class="card-body">
              <div class="card">
                <div class="card-body">
                  <table class="table table-curved">
                    <thead class="bg-azul text-white" [ngStyle]=" colorUno ? {background: colorUno } : {background: '#009BDD' }">
                      <tr>
                        <th scope="col" width="15%">PEDIDO</th>
                        <th scope="col" width="20%">FECHA</th>
                        <th scope="col" width="20%">DIRECCIÓN DE ENVÍO</th>
                        <th scope="col" width="15%">ESTADO</th>
                        <th scope="col" width="30%">ACCIONES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of historialList">
                        <tr>
                          <td>{{item.Numero_Pedido}}</td>
                          <td>{{item.Fecha_Pedido}}</td>
                          <td *ngIf="item.Domicilio_Entrega">{{item.Domicilio_Entrega}}</td>
                          <td *ngIf="!item.Domicilio_Entrega">Retiro En Tienda</td>
                          <td>{{item.Estado_Pedido}}</td>
                          <td>
                           <!--  <button
                              matTooltip="Agregar al carrito. La información será acumulada si es agregada nuevamente"
                              matTooltipPosition="above"
                              class="btn btn-sm text-white bg-naranja font-bold text-uppercase" 
                              (click)="toRebuy(item)"
                              style="margin-right: .3rem;"
                              >
                              Recomprar
                            </button> -->
                            <button style="width: 45%; margin-right: .3rem;" class="btn btn-sm text-white btn-danger font-bold text-uppercase" (click)="viewDetail(item,false)">
                              Detalles
                            </button>
                            <button style="width: 45%;" class="btn btn-sm text-white bg-azul font-bold text-uppercase" (click)="toPdf(item)">
                              Imprimir
                            </button>
                          </td>
                        </tr>
                      </ng-container>
                      <tr>
                        <td></td>
                        <td></td>
                        <td ></td>
                        
                        <td></td>
                        <td>
                         <!--  <button
                            matTooltip="Agregar al carrito. La información será acumulada si es agregada nuevamente"
                            matTooltipPosition="above"
                            class="btn btn-sm text-white bg-naranja font-bold text-uppercase" 
                            (click)="toRebuy(item)"
                            style="margin-right: .3rem;"
                            >
                            Recomprar
                          </button> -->
                          <button *ngIf="!inPromise" style="width: 92%;" class="btn btn-sm text-white bg-azul font-bold text-uppercase" (click)="goToCar()">
                            volver al carrito
                          </button>
                         
                        </td>
                      </tr>

                      <ng-container *ngIf="!historialList.length && !inPromise">
                        <tr><td colspan="4" height="80" class="font-italic text-muted text-center"><h5>No existen compras asociados a su cuenta...</h5></td></tr>
                        <tr><td colspan="4" height="20" class="text-center"> <a class="btn btn-light font-bold text-uppercase"[routerLink]="[ '/productos']">buscar productos</a> </td></tr>
                      </ng-container> 
                    </tbody>
                    <tfoot >
                        <tr >
                            <td colspan="5">
                                <mat-spinner style="margin: 0 auto;" matSuffix *ngIf="inPromise" [diameter]="40" ></mat-spinner>

                            </td>
                          </tr>
            

                    </tfoot>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>