<div class="container-fluid" style="margin-bottom: 2%;">
  <div class="row">
    <div class="col-md-12">
      <img src="../../assets/banner/banner_principal_recomprar.jpg" class="img-fluid  d-block mx-auto">
    </div>
  </div>
  <div class="row justify-content-center" style="
    background-color: white;
    padding-top: 0%;
    padding-bottom: 4%;
  ">
    <div class="col-md-5">
      <div class="form-inline">
        <input type="text" class="form-control" style="
        border: none;
        background: no-repeat;
        border-bottom: 1px solid black;
        border-radius: 0px;
        width: 90%;"
        placeholder="Buscar Compra"
        >

        <img src="../../assets/lupa.png" class="img-fluid" style="cursor:pointer">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="txt-azul font-bold text-center" style="padding:3%;">
        ÚLTIMAS COMPRAS
      </h2>
    </div>
  </div>
  <div class="row justify-content-center" style="margin-bottom: 2%;">
    <div class="col-md-10">
      <table class="table bg-blanco">
        <thead class="txt-blanco bg-azul">
          <tr class="text-center">
            <th scope="col">FECHA</th>
            <th scope="col">PRODUCTOS</th>
            <th scope="col">PRECIO</th>
            <th scope="col">PRECIO ACTUAL</th>
            <th scope="col">TOTAL</th>
            <th scope="col">TOTAL ACTUAL</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>05/08/2018</td>
            <td>CAT CHOW X PIEDRAS</td>
            <td>$ 890  <br> $ 270 </td>
            <td>$ 1060</td>
            <td>$ 1060</td>
            <td>
              <input type="checkbox" class="form-control">
            </td>
          </tr>
          <tr class="text-center">
            <td>05/08/2018</td>
            <td>CAT CHOW X PIEDRAS</td>
            <td>$ 890  <br> $ 270 </td>
            <td>$ 1060</td>
            <td>$ 1060</td>
            <td>
              <input type="checkbox" class="form-control">
            </td>
          </tr>
          <tr class="text-center">
            <td>05/08/2018</td>
            <td>CAT CHOW X PIEDRAS</td>
            <td>$ 890  <br> $ 270 </td>
            <td>$ 1060</td>
            <td>$ 1060</td>
            <td>
              <input type="checkbox" class="form-control">
            </td>
          </tr>
          </tbody>
          <tbody class="bg-azul">
              <tr >
                  <td colspan="4" style="border:none;"><p class="text-right txt-blanco parrafo">PRODUCTOS SELECCIONADOS <span id="numero" class="font-bold" style="font-size:40px;">2</span></p> </td>
                  <td colspan="3" style="border:none;"><p class="txt-blanco parrafo">TOTAL ACTUAL: <span class="font-bold" style="font-size:40px;">$1120</span> </p></td>
                </tr>
                <tr>
                  <td class="bg-azul" colspan="7">
                      <button class="btn btn-block bg-naranja txt-blanco" style="margin:auto; width:80%;">RECOMPRAR</button>
                  </td>
                </tr>            
         

        </tbody>
      </table>
    </div>
  </div>
</div>