<div class="modal fade" id="marcaModal" tabindex="-1" role="dialog" aria-labelledby="marcaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-azul">
        <h5 class="modal-title txt-blanco font-bold" id="marcaModalTitle">MARCAS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="txt-blanco">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container  *ngIf="!inPromise" styles="max-height:400px; overflow:auto;" >
          <a *ngFor="let _ of letters" mat-stroked-button [ngClass]=" (charSelected === _ ) ? 'active' : ''" (click)="find(_)">{{_}}</a>
        </ng-container>
        <mat-progress-bar *ngIf="inPromise" mode="indeterminate"></mat-progress-bar>
        <hr>
        <div class="card">
          <div class="card-body">
            <ng-container *ngIf="!charSelected">
              <p class="text-center text-muted font-italic">Seleccione una letra...</p>
            </ng-container>
            <ng-container *ngIf="charSelected && !inPromise">
                <p class="bg-naranja txt-blanco font-bold" style="border-radius:6px; padding:4px; font-size: 1.5rem;">
                  <span class="m-2">{{charSelected}}</span>
                </p>
                <p *ngIf="!this.marcasList.length" class="text-center text-muted font-italic">
                  No se encontraron marcas registradas
                </p>
                <ng-container *ngIf="this.marcasList.length">
                  <div class="row p-2 justify-content-center m-4">
                    <ng-container *ngFor="let marca of marcasList; let i=index">
                      <ng-container *ngIf="isARow(i)">
                          <div class="col-4  text-center marcas">
                            <section *ngFor="let item of getPartialItems(i, i+3)">
                                <img *ngIf="!item.Weblink_fabricante" src="assets/no_image_aviable.png" alt="nombre" (click)="filter(item.marca)"/>
                                <img *ngIf="item.Weblink_fabricante" [src]="item.Weblink_fabricante" alt="marca" (click)="filter(item.marca)" />
                                <!-- <a  (click)="select(item.marca)" [ngClass]="(marcaSelected === item.marca) ? 'badge bg-naranja text-white': ''" >{{item.marca}}</a> -->
                                <a  (click)="filter(item.marca)" [ngClass]="(marcaSelected === item.marca) ? 'badge bg-naranja text-white': ''" >{{item.marca}}</a> 
                              </section>
                             
                            </div>
                        <!-- <div class="col-4 text-center marcas">
                          <a *ngFor="let item of getPartialItems(i, i+3)" (click)="select(item.marca)" [ngClass]="(marcaSelected === item.marca) ? 'badge bg-naranja text-white': ''" >{{item.marca}}</a>
                          <img *ngIf="!marca.Weblink_fabricante" src="assets/no_image_aviable.png" alt="nombre" />
                          <img *ngIf="marca.Weblink_fabricante" [src]="marca.Weblink_fabricante" alt="marca" />
                        </div> -->
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="!inFetch">
          <span *ngIf="marcaSelected" class="text-muted font-italic m-3">Marca Seleccionada: {{marcaSelected}}</span>
         <!--  <button class="btn btn-light txt-verde font-bold" [disabled]="!marcaSelected" (click)="filter()">
            BUSCAR
          </button> -->
        </ng-container>
        <mat-spinner *ngIf="inFetch" class="m-auto" diameter="30"></mat-spinner>
      </div>
    </div>
  </div>
</div>
