<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 img-inicio-recurso" style="background-image: url('../assets/perdidos_encontrados.jpg')">
      <h3 class="text-center txt-img txt-blanco">
          PERDIDOS <br>
          ENCONTRADOS
      </h3>
    </div>
    <div class="col-md-3 img-inicio-recurso" style="background-image: url('../assets/parejas.jpg')">
      <h3 class="text-center txt-img txt-blanco">
        PAREJAS <br>
        TINDER PET
      </h3>
    </div>
    <div class="col-md-3 img-inicio-recurso" style="background-image: url('../assets/adopcion.jpg')">
      <h3 class="text-center txt-img txt-blanco">
        ADOPCIÓN <br>
        RESPONSABLE
      </h3>
    </div>
    <div class="col-md-3 img-inicio-recurso" style="background-image: url('../assets/conoce_nuestro_blog.jpg')">
      <h3 class="text-center txt-img txt-blanco">
        CONOCE NUESTRO <br>
        BLOG
      </h3>
    </div>
  </div>
</div>