<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-group">
        <h3 class="p-5">Actualizacion de Sociales <br>
          <small><b>Nota:</b> recuerda color el Https y el Http al inicio del link</small>
        </h3>        
      </div>
      <form [formGroup]="myRedes">
        <div class="form-group">
          <label for="">URL DE FACEBOOK</label>
          <input type="text" class="form-control" formControlName="facebook" placeholder="Ingrese la URl de Facebook">
        </div> 
        <div class="form-group">
          <label for="">URL DE TWITTER</label>
          <input type="text" class="form-control" formControlName="twitter" placeholder="Ingrese la URl de Twitter">
        </div> 
        <div class="form-group">
          <label for="">URL DE INSTAGRAM</label>
          <input type="text" class="form-control" formControlName="instagram" placeholder="Ingrese la URl de Instagram">
        </div> 
        <div class="form-group">
          <label for="">URL DE WHATSAPP</label>
          <input type="text" class="form-control" formControlName="whatsapp" placeholder="Ingrese la URl de Whatsapp">
        </div>  
        <div class="form-group">
          <label for="">MENSAJE DE WHATSAPP</label>
          <textarea class="form-control" formControlName="mensaje_whatsapp" placeholder="Ingrese la Mensaje de Whatsapp"></textarea>
        </div>                  
        <div class="form-group">
          <mat-spinner *ngIf='inPromise' diameter="30" style="margin: 0 auto"></mat-spinner>
          <div *ngIf='!inPromise'>        
            <button class="btn btn-success btn-block" (click)="addRedes()" [disabled]="myRedes.invalid || inPromise" *ngIf="isNew">Agregar redes</button>
            <button class="btn btn-primary btn-block" (click)="updateRedes()" [disabled]="myRedes.invalid || inPromise" *ngIf="!isNew">Editar redes</button>
          </div>
        </div>   
      </form>                                                     
    </div>
  </div>
</div>