ngb-carousel{
    outline: none;
}

.carousel-control-next, .carousel-control-prev{
    width: 7%;
}

button{
    outline: none;
}

.paginator-bubbles .mat-icon-button{
    width: 20px;
    height: 20px;
    line-height: 0;
}

.card{
    background-color: #f1f1f1;
}
img{
cursor: pointer;
max-width: 100%; 
}
.toMarca{
    cursor: pointer;

}
.toMarca:hover{
    color:blue;
}
.box{
    max-width: 80%;
    -webkit-box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.75);
}
