.detail{
  margin-right: 20%;
}
.car{
    
    width:100%;
     border-left: solid 1px;  
     border-bottom: solid 1px; 
     border-top: solid 1px; 
     border-right: solid 1px; 
    position: -webkit-sticky;
    position: sticky;
   
   
    top: 0;
}
.body{
max-height: 600px;
overflow: auto;
overflow-x: hidden;
}
.producto-contenedor{

    margin-left: 5%;
    margin-top: 5px;
    width: 90%;
    border: 0.5px solid;
  /*   max-height: 200px; */
}
.card-img-top{
    display: block;
    margin: auto;
   
    text-align: center;
    max-height: 150px;
    width: auto;
    max-width: 80%;

   
}