<div class=" car justify-content-center">
    <div *ngIf="items">
        <div class="" style="display:flex;">
                <div class="bg-azul top rounded-circle text-center" [ngStyle]=" colorUno ? {background: colorUno } : {background: '#009BDD' }">
                        <img class=" car-img mx-auto" src="../assets/social/carrito.png" width="30px" height="30px">
                        <div class="head bg-azul " >

                        </div>
                </div>
                <div class="head2 bg-azul text-white" [ngStyle]=" colorUno ? {background: colorUno } : {background: '#009BDD' }">
                    <h5 class="text-center mr-4 mt-2"  style="font-size: 1.0rem;">MI CARRITO</h5>
                </div>
               
                
        </div>
        
       <!--  <h5 class="text-center">Carrito de Compras</h5> -->
        <div *ngIf="!items.length" class="text-center">
            <span class="font-bold" >Carrito Vacio...</span>
        </div>
        <div *ngIf="items.length">
            <div class="body">
                    <div *ngFor="let item of items" class="producto-contenedor mb-2">
                            <div class="row text-center ">
                                <div class="col-12 text-end">
                                    <button class="btn btn-link txt-naranja text-end" (click)="dissmiss(item.id)" style="margin-left: 83%;">
                                        <fa-icon [icon]="['fas','times']" [size]="'xg'" ></fa-icon>
                                    </button>
                                </div>
                                <img *ngIf="item.urlImage" class="card-img-top " [src]="item.urlImage" alt="{{item.producto}}">
                                 <img *ngIf="!item.urlImage" width="60" height="160" class="card-img-top" src="assets/no_image_aviable.png">
                                <div class="col-12">
                                    <small>{{item.producto}}</small>
                                </div>
                                <div class="col-12">
                                        <span class="m-1 font-bold">Precio:{{item.cantidad * item.precio | currency: 'ARS': '$'}}</span>
                
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-link txt-naranja" (click)="incrase(item.id,false)">
                                        <fa-icon [icon]="['fas', 'minus-circle']"></fa-icon>
                                    </button>
                                    <span class=" font-bold">{{item.cantidad}}</span>
                                    <button class="btn btn-link txt-naranja" (click)="incrase(item.id,true)">
                                        <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
                                    </button>
                                </div>
                
                            </div>
                        </div>
            </div>
            
        </div>
        <div *ngIf="items.length" class="text-center pt-2">
                <span>TOTAL</span><span class="total m-1 font-bold">{{total | currency: 'ARS': '$'}}</span>

        </div>
    </div>
    <div *ngIf="items.length" class="p-2 m-2">
        <button class="btn btn-sm text-white text-center bg-azul font-bold text-uppercase p-2" style="width:95%;" (click)="clearCar()">
            Vaciar Carrito
        </button>
        <button  class="btn btn-sm text-white text-center bg-verde font-bold text-uppercase p-2" style="width:95%;" (click)="finalizarCompra()">enviar
            pedido</button>
    </div>
    
    <div class="detail">
        <app-busqueda></app-busqueda>
    </div>

</div>