<div class="container-fluid">
  <div class="row" style="padding-top:5%; padding-bottom:5%;">
    <div class="col-md-4">
      <img src="../../assets/envio/carro.png" class="img-fluid mx-auto d-block" width="130px">
      <p class="text-center txt-azul mt-4" style="font-size:24px;">
        ENTREGAS EXPRESS <br> <b><i>EN EL DÍA</i></b>
      </p>
    </div>
    <div class="col-md-4">
      <img src="../../assets/envio/phone.png" class="img-fluid mx-auto d-block" width="50px">
      <p class="text-center txt-azul mt-4" style="font-size:24px;">
        ENVÍOS GRATIS COMPRADO DESDE <br> <b><i>LA APP O LA WEB</i></b>
      </p>
    </div>
    <div class="col-md-4">
      <img src="../../assets/envio/bolsa.png" class="img-fluid mx-auto d-block" width="70px">
      <p class="text-center txt-azul mt-4" style="font-size:24px;">
        RETIRO GRATUITO <br> <b><i>EN SUCURSAL</i></b>
      </p>
    </div>
  </div>
</div>